<ng-template [ngIf]="access.read || data.accessBehavior !== 'hide'">
    <div *ngIf="data.label" class="p-b-10 p-l-10 font-17">{{ data.label }}</div>
    <div *ngIf="!data.pivot" class="table-responsive">
        <table class="table table-sm table-bordered table-hover w-100 table-striped">
            <thead>
                <th *ngFor="let c of data.fields">{{ c.label }}</th>
            </thead>
            <tbody>
                <tr *ngFor="let device of sortedDeviceList">
                    <ng-container *ngFor="let c of data.fields">
                        <ng-container *ngFor="let point of dataSource[device] | keyvalue">
                            <ng-container *ngIf="point.key.includes(c.param)">
                                <ng-container *ngIf="c.formatType !== 'link'">
                                    <td>{{ point.value[c.label] }}</td>
                                </ng-container>
                                <ng-container *ngIf="c.formatType === 'link'">
                                    <td><a href="{{ dataLink[device][point.key].href }}">{{ dataLink[device][point.key].text }}</a></td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="data.pivot" class="table-responsive">
        <table class="table table-sm table-bordered table-hover w-100 table-striped">
            <tbody>
                <tr *ngFor="let c of data.fields">
                    <th>{{ c.label }}</th>
                    <ng-container *ngFor="let device of sortedDeviceList">
                        <ng-container *ngFor="let point of dataSource[device] | keyvalue">
                            <ng-container *ngIf="point.key.includes(c.param)">
                                <ng-container *ngIf="c.formatType !== 'link'">
                                    <td>{{ point.value[c.label] }}</td>
                                </ng-container>
                                <ng-container *ngIf="c.formatType === 'link'">
                                    <td><a href="{{ dataLink[device][point.key].href }}">{{ dataLink[device][point.key].text }}</a></td>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>