<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Attention</strong> Seekers</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="jello">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">jello</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="flash">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">Flash</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/3.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="pulse">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">pulse</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rubberBand">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rubberBand</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/5.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="shake">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">shake</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/6.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="swing">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">swing</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="tada">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">tada</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/8.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="wobble">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">wobble</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/9.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounce">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">Bounce</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Bouncing</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/3.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/5.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceInUp</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Bouncing</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/3.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/5.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="bounceOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">bounceOutUp</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Fading</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/3.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInDownBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInDownBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/5.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInLeftBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInLeftBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/6.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInRightBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInRightBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/3.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInUp</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/9.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeInUpBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeInUpBig</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Fading</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/3.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutDownBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutDownBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/5.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutLeftBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutLeftBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/6.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutRightBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutRightBig</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/8.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutUp</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/9.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="fadeOutUpBig">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">fadeOutUpBig</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Flippers</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="flip">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flip</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="flipInX">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipInX</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/3.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="flipInY">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipInY</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="flipOutX">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipOutX</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/5.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="flipOutY">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">flipOutY</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Lightspeed</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="lightSpeedIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">lightSpeedIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="lightSpeedOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">lightSpeedOut</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Rotating</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateInDownLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInDownLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateInDownRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInDownRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateInUpLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInUpLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateInUpRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateInUpRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Rotating</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/9.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateOutDownLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutDownLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/5.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateOutDownRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutDownRight</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateOutUpLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutUpLeft</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rotateOutUpRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rotateOutUpRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Sliding</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInUp</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideInRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Sliding</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutUp</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="slideOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">slideOutRight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Zoom</strong> Entrances</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomInDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomInLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomInRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomInUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomInUp</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Zoom</strong> Exits</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOut</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomOutDown">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutDown</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomOutLeft">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutLeft</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/4.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomOutRight">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutRight</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/9.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="zoomOutUp">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">zoomOutUp</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Specials</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/1.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="hinge">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">hinge</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                                <img src="../../assets/images/image-gallery/2.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rollIn">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rollIn</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 card">
                                <img src="../../assets/images/image-gallery/7.jpg" alt="img"
                                    class="img-fluid img-animate" data-animation="rollOut">
                                <div class="item-title">
                                    <h4 class="text-center mb-5 mt-4">rollOut</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>