<nav #navbar class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a
                href="#"
                onClick="return false;"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar-collapse"
                aria-expanded="false"
            ></a>
            <a
                href="#"
                onClick="return false;"
                class="bars"
                (click)="mobileMenuSidebarOpen($event, 'overlay-open')"
            ></a>
            <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logo.png" alt="" />
                <span class="logo-name">{{ site.name || 'Unified-RED' }}</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="pull-left collapse-menu-icon">
                <li>
                    <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
                        <i class="nav-hdr-btn ti-align-left"></i>
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Full Screen Button -->
                <li class="fullscreen">
                    <button mat-icon-button (click)="callFullscreen()" class="nav-notification-icons">
                        <i class="nav-hdr-btn ti-fullscreen"></i>
                    </button>
                </li>
                <!-- #END# Full Screen Button -->
                <!-- #START# Notifications-->
                <li class="dropdown">
                    <button
                        mat-icon-button
                        data-toggle="dropdown"
                        class="nav-notification-icons"
                        (click)="newalarm = false"
                    >
                        <i class="nav-hdr-btn ti-bell"></i>
                        <span class="notify" *ngIf="newalarm"></span>
                        <span class="heartbeat" *ngIf="newalarm"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="header">Recent Alarms</li>
                        <li class="body">
                            <ul
                                class="menu ur-menu-recent-alarm"
                                style="position: relative; max-width: 600px; max-height: 200px"
                                [perfectScrollbar]
                            >
                                <li>
                                    <a href="#" *ngFor="let alarm of recentAlarms" onClick="return false;">
                                        <span class="table-img msg-user">
                                            <i
                                                class="fas fa-exclamation-triangle"
                                                *ngIf="alarm.severity === 'warning'"
                                            ></i>
                                            <i class="fas fa-exclamation-circle" *ngIf="alarm.severity === 'alert'"></i>
                                            <i class="fas fa-fire" *ngIf="alarm.severity === 'critical'"></i>
                                        </span>
                                        <span class="menu-info">
                                            <span class="menu-title">{{ alarm.name }}</span>
                                            <span class="menu-desc">
                                                <i class="material-icons">access_time</i>
                                                {{ alarm.timestamp | date: 'MM/dd/yyyy HH:mm:ss' }}
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a routerLink="/alarm-console">Alarm Console</a>
                        </li>
                    </ul>
                </li>
                <!-- #END# Notifications-->
                <li class="dropdown user_profile">
                    <button mat-icon-button data-toggle="dropdown" class="nav-notification-icons">
                        <i class="nav-hdr-btn ti-user"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="body">
                            <ul class="user_dw_menu">
                                <li>
                                    <a routerLink="/users/profile">
                                        <mat-icon aria-hidden="false" class="mr-2">person</mat-icon>Profile
                                    </a>
                                </li>
                                <li *ngIf="showAuditLog">
                                    <a routerLink="/audit-log">
                                        <mat-icon aria-hidden="false" class="mr-2">info</mat-icon>Audit Log
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#" onClick="return false;">
                                        <mat-icon aria-hidden="false" class="mr-2">feedback</mat-icon>Feedback
                                    </a>
                                </li> -->
                                <!-- <li>
                                    <a href="#" onClick="return false;">
                                        <mat-icon aria-hidden="false" class="mr-2">help</mat-icon>Help
                                    </a>
                                </li> -->
                                <li>
                                    <a href="#" (click)="logout()">
                                        <mat-icon aria-hidden="false" class="mr-2">power_settings_new</mat-icon>Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- #END# Tasks -->
                <li class="pull-right">
                    <button mat-icon-button (click)="toggleRightSidebar()" class="nav-notification-icons">
                        <i class="nav-hdr-btn ti-layout-grid2"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
