<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Basic</strong> Example
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001"
                                    [label]="percentageValue" [value]="gaugeValues[1]">
                                </mwl-gauge>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0"
                                    [value]="gaugeValues[2]">
                                </mwl-gauge>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mwl-gauge class="three" [max]="100" [value]="gaugeValues[3]">
                                </mwl-gauge>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mwl-gauge class="four" [max]="100" [dialStartAngle]="180" [dialEndAngle]="-90"
                                    [value]="gaugeValues[4]">
                                </mwl-gauge>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mwl-gauge class="five" [max]="200" [dialStartAngle]="0" [dialEndAngle]="-180"
                                    [value]="gaugeValues[5]">
                                </mwl-gauge>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mwl-gauge class="six" [max]="100" [dialStartAngle]="90.01" [dialEndAngle]="89.99"
                                    [dialRadius]="10" [showValue]="false" [value]="gaugeValues[6]">
                                </mwl-gauge>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mwl-gauge class="seven" [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001"
                                    [showValue]="false" [value]="gaugeValues[6]">
                                </mwl-gauge>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>