<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="card body">
                    <div class="row">
                        <div class="contact-photo">
                            <img src="assets/images/usrbig.jpg" class="img-responsive" alt=""> </div>
                    </div>
                    <div class="contact-usertitle">
                        <div class="contact-usertitle-name"> Emily Smith </div>
                        <div class="contact-usertitle-job"> Engineer </div>
                    </div>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>All Contacts</b>
                            <a class="pull-right">1,200</a>
                        </li>
                        <li class="list-group-item">
                            Friends
                            <a class="pull-right">450</a>
                        </li>
                        <li class="list-group-item">
                            Family
                            <a class="pull-right">345</a>
                        </li>
                        <li class="list-group-item">
                            Office
                            <a class="pull-right">172</a>
                        </li>
                        <li class="list-group-item">
                            Social
                            <a class="pull-right">432</a>
                        </li>
                    </ul>
                    <div class="newLabelBtn">
                        <button mat-flat-button color="primary">New Label</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="w-100">

                                <ng-container matColumnDef="checked">
                                    <th mat-header-cell *matHeaderCellDef width="10%"> # </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="imageUrl">
                                    <th mat-header-cell *matHeaderCellDef width="10%"> Image </th>
                                    <td mat-cell *matCellDef="let element" class="table-img"> <img
                                            [src]="element.imageUrl" /> </td>
                                </ng-container>


                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef width="15%"> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="phoneNo">
                                    <th mat-header-cell *matHeaderCellDef width="15%"> Phone </th>
                                    <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
                                </ng-container>

                                <ng-container matColumnDef="address">
                                    <th mat-header-cell *matHeaderCellDef> Address </th>
                                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef width="15%"> Actions </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                            <mat-icon class="col-orange">delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>