<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center l-bg-red">
                    <div class="icon m-b-10">
                        <div class="chart chart-bar-2">6,4,8,6,8,10,5,6,7,9,5,6,4,8,6,8,10,5,6,7,9,5</div>
                    </div>
                    <div class="text m-b-10">Total Ticket</div>
                    <h3 class="m-b-0">1512
                        <i class="material-icons">trending_up</i>
                    </h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center l-bg-cyan">
                    <div class="icon m-b-10">
                        <span class="chart chart-line-2">9,4,6,5,6,4,7,3</span>
                    </div>
                    <div class="text m-b-10">Reply</div>
                    <h3 class="m-b-0">1236
                        <i class="material-icons">trending_up</i>
                    </h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center l-bg-orange">
                    <div class="icon m-b-10">
                        <div class="chart chart-pie-2">30, 35, 25, 8</div>
                    </div>
                    <div class="text m-b-10">Resolve</div>
                    <h3 class="m-b-0">1107
                        <i class="material-icons">trending_down</i>
                    </h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center l-bg-purple">
                    <div class="icon m-b-10">
                        <div class="chart chart-bar-2">4,6,-3,-1,2,-2,4,3,6,7,-2,3,4,6,-3,-1,2,-2,4,3,6,7,-2,3</div>
                    </div>
                    <div class="text m-b-10">Pending</div>
                    <h3 class="m-b-0">167
                        <i class="material-icons">trending_down</i>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row justify-content-center text-center m-t-20">
                            <div class="col-5">
                                <h6 class="text-muted">Real-Time Visits</h6>
                                <h3>23,000</h3>
                            </div>
                            <div class="col-5">
                                <h6 class="text-muted">Returning Visitors</h6>
                                <h3>12,564</h3>
                            </div>
                        </div>
                        <div mk-morris-js [options]="chartAreaOptions" [data]="chartAreaData" type="Area"
                            class="area_chart-style">
                        </div>
                        <div class="row justify-content-center text-center b-t-default m-t-15 p-t-20">
                            <div class="col-3 b-r-default">
                                <h5>75%</h5>
                                <p class="text-muted m-b-0">Satisfied</p>
                            </div>
                            <div class="col-3 b-r-default">
                                <h5>16%</h5>
                                <p class="text-muted m-b-0">Unsatisfied</p>
                            </div>
                            <div class="col-3">
                                <h5>9%</h5>
                                <p class="text-muted m-b-0">NA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row justify-content-center text-center m-t-20">
                            <div class="col-5">
                                <h6 class="text-muted">Total Working Hours</h6>
                                <h3>87,000</h3>
                            </div>
                            <div class="col-5">
                                <h6 class="text-muted">Total Employees</h6>
                                <h3>4,354</h3>
                            </div>
                        </div>
                        <div mk-morris-js [options]="chartLineOptions" [data]="chartLineData" type="Line"
                            class="area_chart-style">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-6 b-r-default">
                                <h6 class="text-muted m-b-10">Completed Projects</h6>
                                <h3 class="m-b-0">986</h3>
                            </div>
                            <div class="col-6">
                                <h6 class="text-muted m-b-10">Total Earnings</h6>
                                <h3 class="m-b-0">234.6M</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Total Income</div>
                    <h3 class="m-b-10">$758
                        <i class="material-icons col-green">trending_up</i>
                    </h3>
                    <div class="icon">
                        <div class="chart chart-bar"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Orders Received</div>
                    <h3 class="m-b-10">1025
                        <i class="material-icons col-red">trending_down</i>
                    </h3>
                    <div class="icon">
                        <span class="chart chart-line"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Total Sales</div>
                    <h3 class="m-b-10">956
                        <i class="material-icons col-green">trending_up</i>
                    </h3>
                    <div class="icon">
                        <div class="chart chart-pie"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Total Active Users</div>
                    <h3 class="m-b-10">214
                        <i class="material-icons col-red">trending_down</i>
                    </h3>
                    <div class="icon">
                        <div class="chart" id="liveChart">Loading..</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center bg-cyan">
                    <div class="icon m-b-10">
                        <div class="chart chart-bar">6,4,8,6,8,10,5,6,7,9,5,6,4,8,6,8,10,5,6,7,9,5</div>
                    </div>
                    <div class="text m-b-10">Total Income</div>
                    <h3 class="m-b-0">$1512
                        <i class="material-icons">trending_up</i>
                    </h3>
                    <small class="displayblock">21% Higher Than Average </small>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center bg-purple">
                    <div class="icon m-b-10">
                        <span class="chart chart-line">9,4,6,5,6,4,7,3</span>
                    </div>
                    <div class="text m-b-10">Orders Received</div>
                    <h3 class="m-b-0">1236
                        <i class="material-icons">trending_up</i>
                    </h3>
                    <small class="displayblock">13% Highr Than Average </small>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center bg-blue">
                    <div class="icon m-b-10">
                        <div class="chart chart-pie">30, 35, 25, 8</div>
                    </div>
                    <div class="text m-b-10">Total Sales</div>
                    <h3 class="m-b-0">1107
                        <i class="material-icons">trending_down</i>
                    </h3>
                    <small class="displayblock">34% Lower Than Average </small>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="support-box text-center bg-green">
                    <div class="icon m-b-10">
                        <div class="chart chart-bar">4,6,-3,-1,2,-2,4,3,6,7,-2,3,4,6,-3,-1,2,-2,4,3,6,7,-2,3</div>
                    </div>
                    <div class="text m-b-10">Total Active Users</div>
                    <h3 class="m-b-0">167
                        <i class="material-icons">trending_down</i>
                    </h3>
                    <small class="displayblock">06% Lower Than Average </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Chart</strong> Sample</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <apx-chart [series]="lineChart2Options.series" [chart]="lineChart2Options.chart"
                            [xaxis]="lineChart2Options.xaxis" [title]="lineChart2Options.title"></apx-chart>
                        <div class="row">
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Target</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$15.3k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Last
                                    week</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$2.8k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted text-truncate">Last
                                    Month</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$12.5k
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Chart</strong> Sample</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="chart">
                            <apx-chart [series]="circleChartOptions.series" [chart]="circleChartOptions.chart"
                                [plotOptions]="circleChartOptions.plotOptions" [labels]="circleChartOptions.labels"
                                [legend]="circleChartOptions.legend" [colors]="circleChartOptions.colors"
                                [responsive]="circleChartOptions.responsive"></apx-chart>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Target</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$15.3k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Last
                                    week</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$2.8k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted text-truncate">Last
                                    Month</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$12.5k
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Chart</strong> Sample</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="chart">
                            <apx-chart [series]="radarChartOptions.series" [chart]="radarChartOptions.chart"
                                [xaxis]="radarChartOptions.xaxis" [stroke]="radarChartOptions.stroke"
                                [markers]="radarChartOptions.markers" [fill]="radarChartOptions.fill"></apx-chart>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Target</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$15.3k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Last
                                    week</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$2.8k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted text-truncate">Last
                                    Month</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$12.5k
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Chart</strong> Sample</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="chart">
                            <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
                                [xaxis]="areaChartOptions.xaxis" [stroke]="areaChartOptions.stroke"
                                [tooltip]="areaChartOptions.tooltip" [dataLabels]="areaChartOptions.dataLabels">
                            </apx-chart>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Target</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$15.3k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted font-15 text-truncate">Last
                                    week</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$2.8k
                                </h5>
                            </div>
                            <div class="col-4">
                                <p class="text-muted text-truncate">Last
                                    Month</p>
                                <h5>
                                    <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$12.5k
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="info-box6 primary">
                    <i class="fas fa-cart-plus"></i>
                    <span class="count-numbers">18</span>
                    <span class="count-name">Orders</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box6 danger">
                    <i class="fas fa-business-time"></i>
                    <span class="count-numbers">458</span>
                    <span class="count-name">Completed</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box6 success">
                    <i class="fas fa-chart-line"></i>
                    <span class="count-numbers">128</span>
                    <span class="count-name">New Order</span>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box6 info">
                    <i class="fas fa-dollar-sign"></i>
                    <span class="count-numbers">$35586</span>
                    <span class="count-name">Earning</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Recent</strong> Report</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="card">
                            <div class="chart-box-left">
                                <div class="chart-note">
                                    <span class="dot dot-product"></span>
                                    <span>products</span>
                                </div>
                                <div class="chart-note mr-0">
                                    <span class="dot dot-service"></span>
                                    <span>services</span>
                                </div>
                            </div>
                            <!-- Canvas for Chart.js -->
                            <canvas id="chartReport1"></canvas>
                            <!-- Custom Axis -->
                            <div class="axisData">
                                <div class="tick">
                                    MON <span class="value productValue">24</span> <span
                                        class="value serviceValue">20</span>
                                </div>
                                <div class="tick">
                                    TUE <span class="value productValue">18</span> <span
                                        class="value serviceValue">22</span>
                                </div>
                                <div class="tick">
                                    WED <span class="value productValue">16</span> <span
                                        class="value serviceValue">30</span>
                                </div>
                                <div class="tick">
                                    THU <span class="value productValue">18</span> <span
                                        class="value serviceValue">22</span>
                                </div>
                                <div class="tick">
                                    FRI <span class="value productValue">24</span> <span
                                        class="value serviceValue">18</span>
                                </div>
                                <div class="tick">
                                    SAT <span class="value productValue">36</span> <span
                                        class="value serviceValue">22</span>
                                </div>
                                <div class="tick">
                                    SUN <span class="value productValue">28</span> <span
                                        class="value serviceValue">30</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Recent</strong> Report</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="card">
                            <div class="chart-box-left">
                                <div class="chart-note">
                                    <span class="dot dot-product"></span>
                                    <span>products</span>
                                </div>
                                <div class="chart-note mr-0">
                                    <span class="dot dot-service"></span>
                                    <span>services</span>
                                </div>
                            </div>
                            <!-- Canvas for Chart.js -->
                            <canvas id="chartReport2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-blue order-info-box7">
                    <div class="info-box7-block">
                        <h6 class="m-b-20">Orders Received</h6>
                        <h2 class="text-right"><i class="fas fa-cart-plus pull-left"></i><span>358</span></h2>
                        <p class="m-b-0">18% Higher Then Last Month</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-green order-info-box7">
                    <div class="info-box7-block">
                        <h6 class="m-b-20">Completed Orders</h6>
                        <h2 class="text-right"><i class="fas fa-business-time pull-left"></i><span>865</span></h2>
                        <p class="m-b-0">21% Higher Then Last Month</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-yellow order-info-box7">
                    <div class="info-box7-block">
                        <h6 class="m-b-20">New Orders</h6>
                        <h2 class="text-right"><i class="fas fa-chart-line pull-left"></i><span>128</span></h2>
                        <p class="m-b-0">37% Higher Then Last Month</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="info-box7 bg-c-pink order-info-box7">
                    <div class="info-box7-block">
                        <h6 class="m-b-20">Total Earning</h6>
                        <h2 class="text-right"><i class="fas fa-dollar-sign pull-left"></i><span>$25698</span></h2>
                        <p class="m-b-0">10% Higher Then Last Month</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>