/*
 *  Document   : theme-cyan.scss
 *  Author     : RedStar Template
 *  Description: This scss file for cyan theme style classes
 */
@import '_theme-color-variables';

.theme-cyan {
    &.menu_light {
        .active .menu-toggle {
            border-right: 2px solid $theme-cyan;
        }
    }
    .navbar {
        background-color: $theme-cyan;
        .collapse-menu-icon .nav-hdr-btn {
            color: #fff;
        }
        .navbar-right .nav-hdr-btn {
            color: #fff;
        }
    }
    .navbar.active {
        background-color: $theme-cyan !important;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        .nav {
            > li {
                > a {
                    color: #fff;
                }
            }
        }
    }

    .nav {
        > li {
            > a {
                color: $theme-cyan-nav-anchor;
                &:hover {
                    background-color: $theme-cyan-nav-anchor_hover;
                    text-decoration: none;
                }

                &:focus {
                    background-color: $theme-cyan-nav-anchor_focus;
                    text-decoration: none;
                }
            }
        }
    }

    .bars {
        color: $theme-cyan-bar;
    }

    .sidebar {
        .menu {
            .list {
                li {
                    &.active {
                        background-color: $theme-cyan-menu-list-active;
                    }
                    a {
                        -moz-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                        i,
                        span {
                            -moz-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                        }
                    }
                }
                .ml-menu {
                    background-color: $theme-cyan-menu-list-submenu;
                    .active {
                        a {
                            font-weight: 700;
                        }
                    }
                    li.active a:not(.menu-toggle):before {
                        content: '';
                        display: block;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        position: absolute;
                        background-color: #777676;
                        border-color: #777676;
                        left: 17%;
                        top: 50%;
                        -webkit-transform: translate(-10px, -50%);
                        -moz-transform: translate(-10px, -50%);
                        -ms-transform: translate(-10px, -50%);
                        -o-transform: translate(-10px, -50%);
                        transform: translate(-10px, -50%);
                        opacity: 1;
                        -webkit-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                }
            }
        }

        .legal {
            background-color: $theme-cyan-legal-bg;

            .copyright {
                a {
                    color: $theme-cyan !important;
                }
            }
        }
    }

    .breadcrumb li a {
        color: $theme-cyan !important;
    }

    .card .header h2 strong {
        color: $theme-cyan !important;
    }

    .page-item.active .page-link {
        background-color: $theme-cyan;
        border-color: $theme-cyan;
        color: #ffffff;
        border-radius: 50%;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
    }

    .btn-primary {
        background-color: $theme-cyan !important;
        color: #fff !important;
        border-color: $theme-cyan !important;
        &:hover {
            background-color: $theme-cyan !important;
            color: #fff !important;
        }
        &:active {
            background-color: $theme-cyan !important;
            color: #fff !important;
        }
        &:focus {
            background-color: $theme-cyan !important;
            color: #fff !important;
        }
        &:disabled {
            background-color: $theme-cyan !important;
            color: #fff !important;
        }
    }
    .btn-outline-primary {
        background: 0 0 !important;
        color: $theme-cyan !important;
        border: 1px solid $theme-cyan !important;
        &:hover {
            background: $theme-cyan !important;
            color: #fff !important;
            border: 1px solid $theme-cyan !important;
        }
    }
    .timelineLabelColor strong {
        color: $theme-cyan !important;
    }
    .top-sidebar {
        .horizontal-menu {
            li {
                &.active {
                    > a {
                        color: $theme-cyan;
                    }
                }
                a {
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    &:hover {
                        color: $theme-cyan;
                    }
                }
            }
        }
    }

    .nav-tabs > li > a:before {
        border-bottom: 2px solid $theme-cyan;
    }
    .sidemenu-collapse i {
        color: #fff;
    }
}
/*Logo Header Background Color*/
.logo-cyan {
    .navbar-header {
        background-color: $theme-cyan;
    }
}
