<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Stepper Horizontal</strong>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                                <form [formGroup]="firstFormGroup">
                                    <ng-template matStepLabel>Fill out your name</ng-template>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput formControlName="firstName" required>
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput formControlName="lastName" required>
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                    <div>
                                        <button mat-raised-button matStepperNext color="primary">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                                <form [formGroup]="secondFormGroup">
                                    <ng-template matStepLabel>Fill out your address</ng-template>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput formControlName="address"
                                            placeholder="Ex. 1 Main St, New York, NY" required></textarea>
                                    </mat-form-field>
                                    <div>
                                        <button mat-raised-button matStepperPrevious color="warn"
                                            class="mr-2">Back</button>
                                        <button mat-raised-button matStepperNext color="primary">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Done</ng-template>
                                <p>You are now done.</p>
                                <div>
                                    <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button>
                                    <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Stepper Verticle</strong>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <mat-vertical-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="firstFormGroup">
                                <form [formGroup]="firstFormGroup">
                                    <ng-template matStepLabel>Fill out your name</ng-template>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput formControlName="firstName" required>
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput formControlName="lastName" required>
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                    <div>
                                        <button mat-raised-button matStepperNext color="primary">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                                <form [formGroup]="secondFormGroup">
                                    <ng-template matStepLabel>Fill out your address</ng-template>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput formControlName="address"
                                            placeholder="Ex. 1 Main St, New York, NY" required></textarea>
                                    </mat-form-field>
                                    <div>
                                        <button mat-raised-button matStepperPrevious color="warn"
                                            class="mr-2">Back</button>
                                        <button mat-raised-button matStepperNext color="primary">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Done</ng-template>
                                <p>You are now done.</p>
                                <div>
                                    <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button>
                                    <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </div>
                </div>
            </div>
        </div>
        <!-- Basic Example | Horizontal Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Horizontal</strong> Layout (archwizard)</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
                            <aw-wizard-step [stepTitle]="'Step 1'">
                                <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form #firstForm="ngForm">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>First name</mat-label>
                                                        <input matInput name="username" ngModel #username="ngModel"
                                                            id="username" placeholder="Username" required>
                                                        <mat-error
                                                            *ngIf="!username.valid && (username.dirty || username.touched)">
                                                            First name is required
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Password</mat-label>
                                                        <input matInput type="password" name="password" ngModel
                                                            #password="ngModel" id="password" placeholder="Password"
                                                            required>
                                                        <mat-error
                                                            *ngIf="!password.valid && (password.dirty || password.touched)">
                                                            This
                                                            field is required!
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Email</mat-label>
                                                        <input matInput type="email" name="email" ngModel
                                                            #email="ngModel" email id="email" placeholder="Email"
                                                            required>
                                                        <mat-error
                                                            *ngIf="!email.valid && (email.dirty || email.touched)">
                                                            Invalid Email Address
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="text-right button-demo">
                                        <button class="btn btn-info btn-border-radius waves-effect"
                                            [disabled]="!firstForm.valid" awNextStep>Next</button>
                                    </div>
                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 2'">
                                <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form #secondForm="ngForm">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>First Name</mat-label>
                                                        <input matInput name="firstName" ngModel #firstName="ngModel"
                                                            required id="firstName" placeholder="First Name">
                                                        <mat-error
                                                            *ngIf="!firstName.valid && (firstName.dirty || firstName.touched)">
                                                            First name is required
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Last Name</mat-label>
                                                        <input matInput name="lastName" ngModel #lastName="ngModel"
                                                            required id="lastName" placeholder="Last Name">
                                                        <mat-error
                                                            *ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">
                                                            Last name is required
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Mobile</mat-label>
                                                        <input matInput name="mobile" ngModel #mobile="ngModel" required
                                                            id="mobile" placeholder="Mobile">
                                                        <mat-error
                                                            *ngIf="!mobile.valid && (mobile.dirty || mobile.touched)">
                                                            Mobile is required
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Age</mat-label>
                                                        <input matInput name="age" ngModel #age="ngModel" required
                                                            id="age" placeholder="Age">
                                                        <mat-error *ngIf="!age.valid && (age.dirty || age.touched)">
                                                            Age is required
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="text-right button-demo">
                                        <button class="btn btn-danger btn-border-radius waves-effect"
                                            awPreviousStep>Back</button>
                                        <button class="btn btn-info btn-border-radius waves-effect"
                                            [disabled]="!secondForm.valid" awNextStep>Next</button>
                                    </div>
                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 3'">
                                <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form action="#">
                                            <p>New the her nor case that lady paid read. Invitation friendship
                                                travelling eat
                                                everything
                                                the out two. Shy you who scarcely expenses debating hastened resolved.
                                                Always
                                                polite
                                                moment on is warmth spirit it to hearts. Downs those still witty an
                                                balls so
                                                chief
                                                so. Moment an little remain no up lively no. Way brought may off our
                                                regular
                                                country
                                                towards adapted cheered.
                                            </p>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                    <mat-checkbox class="example-margin">I accept terms
                                                        and conditions
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="text-right button-demo">
                                        <button class="btn btn-danger btn-border-radius waves-effect"
                                            awPreviousStep>Back</button>
                                        <button class="btn btn-success btn-border-radius waves-effect">Finish</button>
                                    </div>
                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Example | Horizontal Layout -->
        <!-- Basic Example | Vertical Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Verticle</strong> Layout (archwizard)</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" [navBarLocation]="'left'">
                            <aw-wizard-step [stepTitle]="'Step 1'">
                                <ng-template awWizardStepSymbol><i class="fa fa-search"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Username</mat-label>
                                                        <input matInput name="username" placeholder="Username">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Password</mat-label>
                                                        <input matInput type="password" name="password2" id="password2"
                                                            placeholder="Password">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Confirm Password</mat-label>
                                                        <input matInput type="password" name="confirm" id="confirm"
                                                            placeholder="Confirm Password">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="text-right button-demo">
                                        <button class="btn btn-info btn-border-radius waves-effect"
                                            awNextStep>Next</button>
                                    </div>
                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 2'">
                                <ng-template awWizardStepSymbol><i class="fa fa-upload"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>First Name</mat-label>
                                                        <input matInput name="name" placeholder="First Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Last Name</mat-label>
                                                        <input matInput name="lastname" placeholder="Last Name">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Email</mat-label>
                                                        <input matInput type="email" name="email" placeholder="Email">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Mobile</mat-label>
                                                        <input matInput type="number" name="mobile"
                                                            placeholder="Mobile">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="form-float">
                                                <div class="form-line">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Age</mat-label>
                                                        <input matInput type="number" name="age" placeholder="Age">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="text-right button-demo">
                                        <button class="btn btn-danger btn-border-radius waves-effect"
                                            awPreviousStep>Back</button>
                                        <button class="btn btn-info btn-border-radius waves-effect"
                                            awNextStep>Next</button>
                                    </div>

                                </div>
                            </aw-wizard-step>
                            <aw-wizard-step [stepTitle]="'Step 3'">
                                <ng-template awWizardStepSymbol><i class="fa fa-file"></i></ng-template>
                                <div class="centered-content">
                                    <div>
                                        <form action="#">
                                            <p>New the her nor case that lady paid read. Invitation friendship
                                                travelling eat
                                                everything
                                                the out two. Shy you who scarcely expenses debating hastened resolved.
                                                Always
                                                polite
                                                moment on is warmth spirit it to hearts. Downs those still witty an
                                                balls so
                                                chief
                                                so. Moment an little remain no up lively no. Way brought may off our
                                                regular
                                                country
                                                towards adapted cheered.
                                            </p>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                    <mat-checkbox class="example-margin">I accept terms
                                                        and conditions
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="text-right button-demo">
                                        <button class="btn btn-danger btn-border-radius waves-effect"
                                            awPreviousStep>Back</button>
                                        <button class="btn btn-success btn-border-radius waves-effect">Finish</button>
                                    </div>
                                </div>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>