<div #container class="card">
    @if (access.read || data.accessBehavior !== 'hide') {
        <div
            class="body"
            [ngStyle]="this.styleService.getStyle(data)"
            [ngClass]="this.styleService.getClass(data)"
        >
            <div class="content">
                @if (data.layout === 'row' && data.layoutAlign === 'space-between center') {
                    <div class="row healthIndicator">
                        <div class="col-6 text-left">{{ label }}</div>
                        <div class="col-6 text-right" [innerHTML]="text"></div>
                    </div>
                }
                @if (data.layout === 'row' && data.layoutAlign === 'start center') {
                    <div class="row healthIndicator">
                        <div class="col-6 text-left">{{ label }}</div>
                        <div class="col-6 text-left" [innerHTML]="text"></div>
                    </div>
                }
                @if (data.layout === 'row' && data.layoutAlign === 'center center') {
                    <div class="row healthIndicator">
                        <div class="col-6 text-center">{{ label }}</div>
                        <div class="col-6 text-center" [innerHTML]="text"></div>
                    </div>
                }
                @if (data.layout === 'row' && data.layoutAlign === 'end center') {
                    <div class="row healthIndicator">
                        <div class="col-6 text-right">{{ label }}</div>
                        <div class="col-6 text-right" [innerHTML]="text"></div>
                    </div>
                }
                @if (data.layout === 'column' && data.layoutAlign === 'center center') {
                    <div class="row healthIndicator">
                        <div class="col-12 text-center">
                            <h3>{{ label }}</h3>
                            <p [innerHTML]="text"></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
