<div #container class="card">
    <div class="body" *ngIf="access.read || data.accessBehavior !== 'hide'">
        <div class="content">
            <div class="row healthIndicator" *ngIf="data.layout === 'row' && data.layoutAlign === 'space-between center'">
                <div class="col-6 text-left">{{ data.label }}</div>
                <div class="col-6 text-right" [innerHTML]="text"></div>
            </div>
            <div class="row healthIndicator" *ngIf="data.layout === 'row' && data.layoutAlign === 'start center'">
                <div class="col-6 text-left">{{ data.label }}</div>
                <div class="col-6 text-left" [innerHTML]="text"></div>
            </div>
            <div class="row healthIndicator" *ngIf="data.layout === 'row' && data.layoutAlign === 'center center'">
                <div class="col-6 text-center">{{ data.label }}</div>
                <div class="col-6 text-center" [innerHTML]="text"></div>
            </div>
            <div class="row healthIndicator" *ngIf="data.layout === 'row' && data.layoutAlign === 'end center'">
                <div class="col-6 text-right">{{ data.label }}</div>
                <div class="col-6 text-right" [innerHTML]="text"></div>
            </div>
            <div class="row healthIndicator" *ngIf="data.layout === 'column' && data.layoutAlign === 'center center'">
                <div class="col-12 text-center">
                    <h3>{{ data.label }}</h3>
                    <p [innerHTML]="text"></p>        
                </div>
            </div>
        </div>
    </div>
</div>
