<div #container class="card">
    <div class="body" [class]="'bg-' + getBgColor()">
        <div class="preloader pl-size-m" *ngIf="!text">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="content">
            <h3>{{ text }}</h3>
            <p>{{ label }}</p>
        </div>
    </div>
</div>
