<ng-template [ngIf]="access.view || data.accessBehavior !== 'hide'">
    <span #container [id]="data.id" class="ur-schedule-container">
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        <div class="row" *ngIf="dirty && (access.edit || data.accessBehavior !== 'hide')">
            <div class="col-12 mt-2 mb-2">
                <button mat-raised-button color="primary" class="example-full-width" (click)="deploy()"
                    [disabled]="!dirty || (!access.edit && data.accessBehavior === 'disable')">Deploy</button>
            </div>
        </div>
    </span>
</ng-template>