<div class="scheduluDialogContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 p-l-10 font-17">{{title}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Event Type</mat-label>
                        <select (change)='onTypeChange()'matNativeControl formControlName="type" required>
                            <option value="weekday">Weekday</option>
                            <option value="date">Date</option>
                            <option value="holiday">Holiday</option>
                        </select>
                        @if (form.get('type').hasError('required')) {
                            <mat-error>Please select an event type</mat-error>
                        }
                    </mat-form-field>
                </div>
                @if (form.controls.type.value === 'weekday') {
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Weekday</mat-label>
                            <select matNativeControl formControlName="weekday" required>
                                @for (i of weekdays; track i.value) {
                                    <option [value]="i.value">{{ i.text }}</option>
                                }
                            </select>
                            @if (form.get('weekday').hasError('required')) {
                                <mat-error>Please select a weekday</mat-error>
                            }
                        </mat-form-field>
                    </div>
                }
                @if (form.controls.type.value === 'date') {
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="mm/dd" mask="00/00" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker touchUi></mat-datepicker>
                            @if (form.get('date').hasError('required')) {
                                <mat-error>Please select a date</mat-error>
                            }
                        </mat-form-field>
                    </div>
                }
                @if (form.controls.type.value === 'holiday') {
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Repeat</mat-label>
                            <select matNativeControl formControlName="repeat" required>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                            @if (form.get('repeat').hasError('required')) {
                                <mat-error>Please select a repeat option</mat-error>
                            }
                        </mat-form-field>
                    </div>
                }
            </div>

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'weekly') {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-button-toggle-group formControlName="repeatWeekdays" multiple class="ur-schedule-weekday-picker" required>
                            @for (i of weekdays; track i.value) {
                                <mat-button-toggle [value]="i.value">{{ i.short }}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                        @if (form.get('repeatWeekdays').hasError('required')) {
                            <mat-error>Please select one or more weekdays</mat-error>
                        }
                    </div>
                </div>
            }

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'monthly') {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>By</mat-label>
                            <select matNativeControl formControlName="repeatMonthType" required>
                                <option value="date">Date</option>
                                <option value="weekday">Weekday</option>
                            </select>
                            @if (form.get('repeatMonthType').hasError('required')) {
                                <mat-error>Please select an option</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            }

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'monthly' && form.controls.repeatMonthType.value === 'date') {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-button-toggle-group formControlName="repeatMonthDate" multiple class="ur-schedule-month-date-picker" required>
                            @for (i of dates; track i) {
                                <mat-button-toggle [value]="i">{{ i }}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                        @if (form.get('repeatMonthDate').hasError('required')) {
                            <mat-error>Please select one or more dates</mat-error>
                        }
                    </div>
                </div>
            }

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'monthly' && form.controls.repeatMonthType.value === 'weekday') {
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>On the</mat-label>
                            <select matNativeControl formControlName="repeatMonthWeekdayOccurrence" required>
                                @for (i of nth; track i.value) {
                                    <option [value]="i.value">{{ i.text }}</option>
                                }
                            </select>
                            @if (form.get('repeatMonthWeekdayOccurrence').hasError('required')) {
                                <mat-error>Please select an occurrence</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Weekday</mat-label>
                            <select matNativeControl formControlName="repeatMonthWeekday" required>
                                @for (i of weekdays; track i.value) {
                                    <option [value]="i.value">{{ i.text }}</option>
                                }
                            </select>
                            @if (form.get('repeatMonthWeekday').hasError('required')) {
                                <mat-error>Please select a weekday</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            }

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly') {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-button-toggle-group formControlName="repeatYearMonth" multiple class="ur-schedule-year-month-picker" required>
                            @for (i of months; track i.value) {
                                <mat-button-toggle [value]="i.value">{{ i.text }}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                        @if (form.get('repeatYearMonth').hasError('required')) {
                            <mat-error>Please select a one or more months</mat-error>
                        }
                    </div>
                </div>
            }

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly') {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>By</mat-label>
                            <select matNativeControl formControlName="repeatYearType" required>
                                <option value="date">Date</option>
                                <option value="weekday">Weekday</option>
                            </select>
                            @if (form.get('repeatYearType').hasError('required')) {
                                <mat-error>Please select an option</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            }

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly' && form.controls.repeatYearType.value === 'date') {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-button-toggle-group formControlName="repeatYearDate" multiple class="ur-schedule-month-date-picker" required>
                            @for (i of dates; track i) {
                                <mat-button-toggle [value]="i">{{ i }}</mat-button-toggle>
                            }
                        </mat-button-toggle-group>
                        @if (form.get('repeatYearDate').hasError('required')) {
                            <mat-error>Please select one or more dates</mat-error>
                        }
                    </div>
                </div>
            }

            @if (form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly' && form.controls.repeatYearType.value === 'weekday') {
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>On the</mat-label>
                            <select matNativeControl formControlName="repeatYearWeekdayOccurrence" required>
                                @for (i of nth; track i.value) {
                                    <option [value]="i.value">{{ i.text }}</option>
                                }
                            </select>
                            @if (form.get('repeatYearWeekdayOccurrence').hasError('required')) {
                                <mat-error>Please select an occurrence</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Weekday</mat-label>
                            <select matNativeControl formControlName="repeatYearWeekday" required>
                                @for (i of weekdays; track i.value) {
                                    <option [value]="i.value">{{ i.text }}</option>
                                }
                            </select>
                            @if (form.get('repeatYearWeekday').hasError('required')) {
                                <mat-error>Please select a weekday</mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card h-100">
                        <div class="card-body" style="padding: 0;">
                            <div class="task-module ur-schedule-event-module">
                                <div class="task-header">
                                    <div class="task-title">
                                        <div class="font-weight-bold p-t-5 p-l-10 font-17">Events</div>
                                    </div>
                                    <div class="header-button">
                                        <button mat-raised-button color="primary" (click)="addNewEvent(sidenav)">Add Event</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <mat-sidenav-container class="task-container">
                                            <mat-sidenav #sidenav [mode]="mode.value" position="end">
                                                <div class="header">
                                                    <h2 class="header-title">{{dialogTitle}}</h2>
                                                    <div class="header-close m-l-0">
                                                        @if (!isNewEvent) {
                                                            <button mat-icon-button (click)="deleteEvent(sidenav)" matTooltip="Delete Event"><mat-icon>delete</mat-icon></button>
                                                        }
                                                        @if (isNewEvent) {
                                                            <button mat-icon-button [disabled]="eventForm.invalid" (click)="saveEvent(sidenav)" matTooltip="Save Event"><mat-icon>save</mat-icon></button>
                                                        }
                                                        @if (!isNewEvent) {
                                                            <button mat-icon-button [disabled]="eventForm.invalid" (click)="editEvent(sidenav)" matTooltip="Edit Event"><mat-icon>save</mat-icon></button>
                                                        }
                                                        <button mat-icon-button (click)="closeSlider(sidenav)"><mat-icon>close</mat-icon></button>
                                                    </div>
                                                </div>
                                                <form class="register-form m-4" [formGroup]="eventForm">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                            <mat-form-field [hidden]="true"><input matInput formControlName="id"></mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                            <mat-form-field class="example-full-width" appearance="outline">
                                                                <mat-label>Value</mat-label>
                                                                <select matNativeControl formControlName="value" required>
                                                                    @for (value of data.values; track value.name) {
                                                                        <option [value]="value.name">{{ value.name }}</option>
                                                                    }
                                                                </select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                            <mat-form-field class="example-full-width" appearance="outline">
                                                                <mat-label>Hour</mat-label>
                                                                <select matNativeControl formControlName="hour" required>
                                                                    @for (i of hours; track i) {
                                                                        <option [value]="i">{{ i }}</option>
                                                                    }
                                                                </select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                            <mat-form-field class="example-full-width" appearance="outline">
                                                                <mat-label>Minute</mat-label>
                                                                <select matNativeControl formControlName="minute" required>
                                                                    @for (i of minutes; track i) {
                                                                        <option [value]="i">{{ i }}</option>
                                                                    }
                                                                </select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                                                        </div>
                                                    </div>
                                                </form>
                                            </mat-sidenav>
                                            <mat-sidenav-content>
                                                <div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)" style="position: relative; height: 240px;" >
                                                    @for (event of events; track event) {
                                                        <div class="task-box" (click)="eventClick(event, sidenav)" cdkDrag>
                                                            <div class="task-handle m-r-20" cdkDragHandle><mat-icon>drag_handle</mat-icon></div>
                                                            <div class="task-custom-placeholder" *cdkDragPlaceholder></div>
                                                            <div>{{ event.hour }}:{{ event.minute }}</div>
                                                            <div class="m-l-30">{{event.value}}</div>
                                                        </div>
                                                    }
                                                </div>
                                            </mat-sidenav-content>
                                        </mat-sidenav-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!form.valid"
                            [mat-dialog-close]="submit()" (click)="confirm()">Save</button>
                        <button mat-raised-button (click)="dialogRef.close()" tabindex="-1">Cancel</button>

                        <button mat-icon-button [matMenuTriggerFor]="eventMoreMenu" [disabled]="!form.valid"
                            [hidden]="form.controls.type.value !== 'weekday'">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #eventMoreMenu="matMenu">
                            <button mat-menu-item [mat-dialog-close]="submit('everyday')">
                                <span>Add to everyday</span>
                            </button>
                            <button mat-menu-item [mat-dialog-close]="submit('m-f')">
                                <span>Add to M-F</span>
                            </button>
                            <button mat-menu-item [mat-dialog-close]="submit('tu-f')">
                                <span>Add to Tu-F</span>
                            </button>
                            <button mat-menu-item [mat-dialog-close]="submit('sa-su')">
                                <span>Add to Sa-Su</span>
                            </button>
                        </mat-menu>

                        @if (action !== 'add') {
                            <button mat-raised-button color="warn" class="float-right"
                                [mat-dialog-close]="delete()" tabindex="-1">Delete</button>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
