<div class="scheduluDialogContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 p-l-10 font-17">{{title}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Event Type</mat-label>
                        <select (change)='onTypeChange()'matNativeControl formControlName="type" required>
                            <option value="weekday">Weekday</option>
                            <option value="date">Date</option>
                            <option value="holiday">Holiday</option>
                        </select>
                        <mat-error *ngIf="form.get('type').hasError('required')">
                            Please select an event type
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="form.controls.type.value === 'weekday'">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Weekday</mat-label>
                        <select matNativeControl formControlName="weekday" required>
                            <option *ngFor="let i of weekdays" [value]="i.value">{{ i.text }}</option>
                        </select>
                        <mat-error *ngIf="form.get('weekday').hasError('required')">
                            Please select a weekday
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="form.controls.type.value === 'date'">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="mm/dd" mask="00/00" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker touchUi></mat-datepicker>
                        <mat-error *ngIf="form.get('date').hasError('required')">
                            Please select a date
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" *ngIf="form.controls.type.value === 'holiday'">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Repeat</mat-label>
                        <select matNativeControl formControlName="repeat" required>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                        <mat-error *ngIf="form.get('repeat').hasError('required')">
                            Please select a repeat option
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- weekly recurrence -->
            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'weekly'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-button-toggle-group formControlName="repeatWeekdays" multiple class="ur-schedule-weekday-picker" required>
                        <mat-button-toggle *ngFor="let i of weekdays" [value]="i.value">{{ i.short }}</mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-error *ngIf="form.get('repeatWeekdays').hasError('required')">
                        Please select one or more weekdays
                    </mat-error>
                </div>
            </div>
            <!-- end weekly recurrence -->

            <!-- monthly recurrence -->
            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'monthly'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>By</mat-label>
                        <select matNativeControl formControlName="repeatMonthType" required>
                            <option value="date">Date</option>
                            <option value="weekday">Weekday</option>
                        </select>
                        <mat-error *ngIf="form.get('repeatMonthType').hasError('required')">
                            Please select an option
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'monthly' && form.controls.repeatMonthType.value === 'date'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-button-toggle-group formControlName="repeatMonthDate" multiple class="ur-schedule-month-date-picker" required>
                        <mat-button-toggle *ngFor="let i of dates" [value]="i">{{ i }}</mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-error *ngIf="form.get('repeatMonthDate').hasError('required')">
                        Please select one or more dates
                    </mat-error>
                </div>
            </div>

            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'monthly' && form.controls.repeatMonthType.value === 'weekday'">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>On the</mat-label>
                        <select matNativeControl formControlName="repeatMonthWeekdayOccurrence" required>
                            <option *ngFor="let i of nth" [value]="i.value">{{ i.text }}</option>
                        </select>
                        <mat-error *ngIf="form.get('repeatMonthWeekdayOccurrence').hasError('required')">
                            Please select an occurrence
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Weekday</mat-label>
                        <select matNativeControl formControlName="repeatMonthWeekday" required>
                            <option *ngFor="let i of weekdays" [value]="i.value">{{ i.text }}</option>
                        </select>
                        <mat-error *ngIf="form.get('repeatMonthWeekday').hasError('required')">
                            Please select a weekday
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- end monthly recurrence -->

            <!-- yearly recurrence -->
            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-button-toggle-group formControlName="repeatYearMonth" multiple class="ur-schedule-year-month-picker" required>
                        <mat-button-toggle *ngFor="let i of months" [value]="i.value">{{ i.text }}</mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-error *ngIf="form.get('repeatYearMonth').hasError('required')">
                        Please select a one or more months
                    </mat-error>
                </div>
            </div>

            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>By</mat-label>
                        <select matNativeControl formControlName="repeatYearType" required>
                            <option value="date">Date</option>
                            <option value="weekday">Weekday</option>
                        </select>
                        <mat-error *ngIf="form.get('repeatYearType').hasError('required')">
                            Please select an option
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly' && form.controls.repeatYearType.value === 'date'">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-button-toggle-group formControlName="repeatYearDate" multiple class="ur-schedule-month-date-picker" required>
                        <mat-button-toggle *ngFor="let i of dates" [value]="i">{{ i }}</mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-error *ngIf="form.get('repeatYearDate').hasError('required')">
                        Please select one or more dates
                    </mat-error>
                </div>
            </div>

            <div class="row" *ngIf="form.controls.type.value === 'holiday' && form.controls.repeat.value === 'yearly' && form.controls.repeatYearType.value === 'weekday'">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>On the</mat-label>
                        <select matNativeControl formControlName="repeatYearWeekdayOccurrence" required>
                            <option *ngFor="let i of nth" [value]="i.value">{{ i.text }}</option>
                        </select>
                        <mat-error *ngIf="form.get('repeatYearWeekdayOccurrence').hasError('required')">
                            Please select an occurrence
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Weekday</mat-label>
                        <select matNativeControl formControlName="repeatYearWeekday" required>
                            <option *ngFor="let i of weekdays" [value]="i.value">{{ i.text }}</option>
                        </select>
                        <mat-error *ngIf="form.get('repeatYearWeekday').hasError('required')">
                            Please select a weekday
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- end yearly recurrence -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card h-100">
                        <div class="card-body" style="padding: 0;">
                            <div class="task-module ur-schedule-event-module">
                                <div class="task-header">
                                    <div class="task-title">
                                        <div class="font-weight-bold p-t-5 p-l-10 font-17">Events</div>
                                    </div>
                                    <div class="header-button">
                                        <button mat-raised-button color="primary" (click)="addNewEvent(sidenav)">Add Event</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <mat-sidenav-container class="task-container">
                                            <mat-sidenav #sidenav [mode]="mode.value" position="end">
                                                <div class="header">
                                                    <h2 class="header-title">{{dialogTitle}}</h2>
                                                    <div class="header-close m-l-0">
                                                        <button mat-icon-button *ngIf="!isNewEvent" (click)="deleteEvent(sidenav)" matTooltip="Delete Event"><mat-icon>delete</mat-icon></button>
                                                        <button mat-icon-button [disabled]="eventForm.invalid" *ngIf="isNewEvent" (click)="saveEvent(sidenav)" matTooltip="Save Event"><mat-icon>save</mat-icon></button>
                                                        <button mat-icon-button [disabled]="eventForm.invalid" *ngIf="!isNewEvent" (click)="editEvent(sidenav)" matTooltip="Edit Event"><mat-icon>save</mat-icon></button>
                                                        <button mat-icon-button (click)="closeSlider(sidenav)"><mat-icon>close</mat-icon></button>
                                                    </div>
                                                </div>
                                                <form class="register-form m-4" [formGroup]="eventForm">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                            <mat-form-field [hidden]="true"><input matInput formControlName="id"></mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                            <mat-form-field class="example-full-width" appearance="outline">
                                                                <mat-label>Value</mat-label>
                                                                <select matNativeControl formControlName="value" required>
                                                                    <option *ngFor="let value of data.values" [value]="value.name">{{ value.name }}</option>
                                                                </select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                            <mat-form-field class="example-full-width" appearance="outline">
                                                                <mat-label>Hour</mat-label>
                                                                <select matNativeControl formControlName="hour" required>
                                                                    <option *ngFor="let i of hours" [value]="i">{{ i }}</option>
                                                                </select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                            <mat-form-field class="example-full-width" appearance="outline">
                                                                <mat-label>Minute</mat-label>
                                                                <select matNativeControl formControlName="minute" required>
                                                                    <option *ngFor="let i of minutes" [value]="i">{{ i }}</option>
                                                                </select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                                                        </div>
                                                    </div>
                                                </form>
                                            </mat-sidenav>
                                            <mat-sidenav-content>
                                                <div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)" style="position: relative; height: 240px;" [perfectScrollbar]>
                                                    <div class="task-box" *ngFor="let event of events" (click)="eventClick(event, sidenav)" cdkDrag>
                                                        <div class="task-handle m-r-20" cdkDragHandle><mat-icon>drag_handle</mat-icon></div>
                                                        <div class="task-custom-placeholder" *cdkDragPlaceholder></div>
                                                        <div>{{ event.hour }}:{{ event.minute }}</div>
                                                        <div class="m-l-30">{{event.value}}</div>
                                                    </div>
                                                </div>
                                            </mat-sidenav-content>
                                        </mat-sidenav-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!form.valid"
                            [mat-dialog-close]="submit()" (click)="confirm()">Save</button>
                        <button mat-raised-button (click)="dialogRef.close()" tabindex="-1">Cancel</button>

                        <button mat-icon-button [matMenuTriggerFor]="eventMoreMenu" [disabled]="!form.valid"
                            [hidden]="form.controls.type.value !== 'weekday'">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #eventMoreMenu="matMenu">
                            <button mat-menu-item [mat-dialog-close]="submit('everyday')">
                                <span>Add to everyday</span>
                            </button>
                            <button mat-menu-item [mat-dialog-close]="submit('m-f')">
                                <span>Add to M-F</span>
                            </button>
                            <button mat-menu-item [mat-dialog-close]="submit('tu-f')">
                                <span>Add to Tu-F</span>
                            </button>
                            <button mat-menu-item [mat-dialog-close]="submit('sa-su')">
                                <span>Add to Sa-Su</span>
                            </button>
                        </mat-menu>

                        <button mat-raised-button color="warn" class="float-right" *ngIf="action !== 'add'"
                            [mat-dialog-close]="delete()" tabindex="-1">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>