<div class="validate-form">
    <div class="example-container">
        <h4 *ngIf="data.label">{{ data.label }}</h4>
        <div *ngFor="let field of data.options">
            <mat-form-field class="example-full-width" appearance="fill"
                *ngIf="field.type !== 'multiline' && field.type !== 'checkbox' && field.type !== 'select' && field.type !== 'switch'">
                <mat-label>{{ field.label }}</mat-label>
                <span matPrefix *ngIf="field.type === 'email'">
                    <mat-icon class="mr-2">email</mat-icon>
                </span>
                <input matInput [type]="field.type" [value]="data.formValue[field.topic]"
                    (change)="valueChange(field.topic, $event.target.value)" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" *ngIf="field.type === 'multiline'">
                <mat-label>{{ field.label }}</mat-label>
                <textarea matInput [rows]="field.rows" [value]="data.formValue[field.topic]"
                    (change)="valueChange(field.topic, $event.target.value)"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" *ngIf="field.type === 'select'">
                <mat-label>{{ field.label }}</mat-label>
                <select matNativeControl [value]="data.formValue[field.topic]"
                    (change)="valueChange(field.topic, $event.target.value)">
                    <option *ngFor="let opt of field.options | keyvalue" [value]="opt.value">{{ opt.key }}</option>
                </select>
            </mat-form-field>

            <mat-checkbox *ngIf="field.type === 'checkbox'" [checked]="data.formValue[field.topic]"
                (change)="valueChange(field.topic, $event.checked)" class="example-margin"
                color="primary">{{ field.label }}</mat-checkbox>

            <mat-slide-toggle *ngIf="field.type === 'switch'" [checked]="data.formValue[field.topic]"
                (change)="valueChange(field.topic, $event.checked)" class="example-margin"
                color="primary">{{ field.label }}</mat-slide-toggle>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="submit()">{{ data.submit }}</button>
            <button mat-raised-button color="warn" (click)="reset()" *ngIf="data.cancel">{{ data.cancel }}</button>
        </div>
    </div>
</div>