<div #container>
    @if (access.read || data.accessBehavior !== 'hide') {
        <div class="example-container">
            @if (data.label) {
                <div class="p-b-10 p-l-10 font-17">{{ data.label }}</div>
            }
            @for (field of data.options; track field.topic) {
                @if (
                    field.type !== 'multiline' &&
                    field.type !== 'checkbox' &&
                    field.type !== 'select' &&
                    field.type !== 'switch'
                ) {
                    <mat-form-field
                        class="example-full-width healthIndicator"
                        appearance="outline"
                    >
                        <span [title]="field.intopic" hidden></span>
                        <mat-label>{{ field.label }}</mat-label>
                        @if (field.type === 'email') {
                            <span matPrefix>
                                <mat-icon class="mr-2">email</mat-icon>
                            </span>
                        }
                        <input
                            matInput
                            #defaultElement
                            [type]="field.type"
                            class="colorIndicator"
                            [value]="
                                access.read
                                    ? precision(stripHTML(data.formValue[field.topic]), field.options.precision)
                                    : ''
                            "
                            [disabled]="disabled || (!access.write && data.accessBehavior === 'disable')"
                            (change)="valueChange(field.topic, $event.target.value, field.type)"
                        />
                        @if (field.options.units) {
                            <span matSuffix>{{ field.options.units }}</span>
                        }
                    </mat-form-field>
                }

                @if (field.type === 'multiline') {
                    <mat-form-field
                        class="example-full-width healthIndicator"
                        appearance="outline"
                    >
                        <span [title]="field.intopic" hidden></span>
                        <mat-label>{{ field.label }}</mat-label>
                        <textarea
                            matInput
                            #defaultElement
                            [rows]="field.options.rows"
                            class="colorIndicator"
                            [value]="access.read ? stripHTML(data.formValue[field.topic]) : ''"
                            [disabled]="disabled || (!access.write && data.accessBehavior === 'disable')"
                            (change)="valueChange(field.topic, $event.target.value, field.type)"
                        ></textarea>
                    </mat-form-field>
                }

                @if (field.type === 'select') {
                    <mat-form-field
                        class="example-full-width healthIndicator"
                        appearance="outline"
                    >
                        <span [title]="field.intopic" hidden></span>
                        <mat-label>{{ field.label }}</mat-label>
                        <select
                            matNativeControl
                            #defaultElement
                            class="colorIndicator"
                            [disabled]="disabled || (!access.write && data.accessBehavior === 'disable')"
                            (change)="valueChange(field.topic, $event.target.value, field.type)"
                        >
                            @for (opt of field.options | keyvalue; track opt.key) {
                                <option
                                    [value]="opt.value || opt.key"
                                    [selected]="
                                        access.read && (opt.value || opt.key) === stripHTML(data.formValue[field.topic])
                                    "
                                >
                                    {{ opt.key }}
                                </option>
                            }
                        </select>
                    </mat-form-field>
                }

                @if (field.type === 'checkbox') {
                    <mat-checkbox
                        class="colorIndicator example-margin mb-3"
                        [checked]="access.read ? stripHTML(data.formValue[field.topic]) : ''"
                        [disabled]="disabled || (!access.write && data.accessBehavior === 'disable')"
                        (change)="valueChange(field.topic, $event.checked)"
                        color="primary"
                        >{{ field.label }}</mat-checkbox
                    >
                }

                @if (field.type === 'switch') {
                    <mat-slide-toggle
                        class="colorIndicator example-margin mb-3"
                        [checked]="access.read ? stripHTML(data.formValue[field.topic]) : ''"
                        [disabled]="disabled || (!access.write && data.accessBehavior === 'disable')"
                        (change)="valueChange(field.topic, $event.checked)"
                        color="primary"
                        >{{ field.label }}</mat-slide-toggle
                    >
                }
            }
        </div>
        <div class="row">
            <div class="col-12">
                <div class="example-button-row">
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="submit()"
                        [disabled]="disabled || (!access.write && data.accessBehavior === 'disable')"
                    >
                        {{ data.submit }}
                    </button>
                    @if (data.cancel) {
                        <button
                            mat-raised-button
                            color="warn"
                            (click)="reset()"
                            [disabled]="disabled || (!access.write && data.accessBehavior === 'disable')"
                        >
                            {{ data.cancel }}
                        </button>
                    }
                </div>
            </div>
        </div>
    }
</div>
