<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="profile-tab-box">
                        <div class="p-l-20">
                            <ul class="nav ">
                                <li class="nav-item tab-all">
                                    <a class="nav-link active show" href="#accountsettings" data-toggle="tab">Account Settings</a>
                                </li>
                                <li class="nav-item tab-all p-l-20">
                                    <a class="nav-link" href="#securitysettings" data-toggle="tab">Security Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="accountsettings" aria-expanded="false">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Account</strong> Settings</h2>
                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>First Name</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Last Name</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Email</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Email</mat-label>
                                                <input matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- <div class="form-group">
                                            <mat-checkbox class="example-margin">Profile Visibility For Everyone
                                            </mat-checkbox>
                                        </div>
                                        <div class="form-group">
                                            <mat-checkbox class="example-margin">New task notifications
                                            </mat-checkbox>
                                        </div>
                                        <div class="form-group">
                                            <mat-checkbox class="example-margin">New friend request notifications
                                            </mat-checkbox>
                                        </div> -->
                                    </div>
                                    <div class="col-md-12">
                                        <button mat-raised-button color="primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="securitysettings" aria-expanded="false">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Security</strong> Settings</h2>
                            </div>
                            <div class="body">
                                <div class="example-container">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Username</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Current Password</mat-label>
                                        <input matInput type="password">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>New Password</mat-label>
                                        <input matInput type="password">
                                    </mat-form-field>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <button mat-raised-button color="primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>