<section class="content">
    <div class="container-fluid">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding-top: 0">
                @for (crumb of breadcrumbs; track crumb) {
                    <li class="breadcrumb-item" style="padding: 3px; white-space: nowrap;">
                        {{ crumb }}
                    </li>
                }
            </ol>
        </div>

        <div class="row">
            <ng-template page-host></ng-template>
        </div>
    </div>
</section>
