<section class="content">
    <div class="container-fluid">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb" style="padding-top: 0">
                <li class="breadcrumb-item" *ngFor="let crumb of breadcrumbs" style="padding: 3px; white-space: nowrap;">
                    {{ crumb }}
                </li>
            </ol>
        </div>

        <div class="row">
            <ng-template page-host></ng-template>
        </div>
    </div>
</section>

<!-- Show a button that routes to Node-RED -->
<app-node-red-router></app-node-red-router>