<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Basic</strong> Drag &amp; Drop</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="alert alert-info">
                                Move stuff between these two containers. Note how the stuff gets inserted near the mouse
                                pointer? Great stuff.
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="left">
                                        <div class="container" dragula="VAMPIRES">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user5.jpg" alt="">
                                                </span><span class="cardtitle noselect"> User
                                                    card #1</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user6.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #2</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user7.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #3</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user8.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #4</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="right">
                                        <div class="container" dragula="VAMPIRES">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user1.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #7</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user2.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #8</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Drag</strong> &amp; Drop Events</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="alert alert-info">
                                There are plenty of events along the lifetime of a drag event. <a
                                    href="https://github.com/bevacqua/dragula#drakeon-events">all
                                    of them</a> in the docs!
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="left">
                                        <div class="container" dragula="DRAGULA_EVENTS">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user5.jpg" alt="">
                                                </span><span class="cardtitle noselect"> User
                                                    card #1</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user6.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #2</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user7.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #3</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user8.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #4</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="right">
                                        <div class="container" dragula="DRAGULA_EVENTS">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user3.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #5</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user4.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #6</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Spill</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="alert alert-info">
                                Need to be able to quickly delete stuff when it spills out of the chosen containers?
                                Note how you can easily sort the items in any containers by just dragging and dropping.
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="right">
                                        <div class='container' dragula="SPILL">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user5.jpg" alt="">
                                                </span><span class="cardtitle noselect"> User
                                                    card #1</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user6.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #2</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user7.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #3</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user8.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #4</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Revert</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="alert alert-info">
                            By default, dropping an element outside of any known containers will keep the element in
                            the last place it went over. You can make elements go back to origin if they're dropped
                            outside of known containers, too.
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="left">
                                        <div class="container" dragula="REVERT">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user5.jpg" alt="">
                                                </span><span class="cardtitle noselect"> User
                                                    card #1</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user6.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #2</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user7.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #3</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user8.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #4</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="right">
                                        <div class="container" dragula="REVERT">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user3.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #5</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user4.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #6</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Revert</strong></h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="alert alert-info">
                            Copying Elements from left side to right side made it easy for you.
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="left">
                                        <div class='container' dragula="COPYABLE" id="left">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user5.jpg" alt="">
                                                </span><span class="cardtitle noselect"> User
                                                    card #1</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user6.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #2</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user7.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #3</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user8.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #4</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="board">
                                    <div class="cards" id="right">
                                        <div class='container' dragula="COPYABLE" id="right">
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user3.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #5</span></div>
                                            <div class="drop-card"><span class="table-img msg-user">
                                                    <img src="assets/images/user/user4.jpg" alt="">
                                                </span><span class="cardtitle noselect">User
                                                    card #6</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>