<div class="limiter" *ngIf="!canInstall">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form">
                <div class="login100-form-title p-b-30">To reinstall or modify your installation please contact your
                    system
                    administrator</div>
                <div class="flex-sb-m w-full p-t-15 p-b-20">
                    <a routerLink="/authentication/login" class="login100-form-btn">Login</a>
                </div>
            </div>
            <div class="login100-more" style="background-image: url('assets/images/pages/unified-logo.png');"></div>
        </div>
    </div>
</div>

<div class="limiter" *ngIf="canInstall">
    <div class="container-login100">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="assets/images/pages/unified-logo.png">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="card">
                    <div class="header">
                        <h2><strong>Unified-RED Initial Setup</strong></h2>
                    </div>
                    <div class="body">
                        <mat-vertical-stepper [linear]="isLinear" #stepper>
                            <mat-step [stepControl]="dbForm">
                                <form [formGroup]="dbForm">
                                    <ng-template matStepLabel>Connect to database</ng-template>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Database Connection</mat-label>
                                        <input matInput formControlName="dbConnection" required>
                                        <mat-error *ngIf="dbForm.get('dbConnection').hasError('required')">A database
                                            connection is required
                                        </mat-error>
                                    </mat-form-field>
                                    <div>
                                        Unified-RED requires a connection to a MongoDB or SQLite database.
                                        Postgres, MySQL, MariaDB, and Microsoft SQL Server are also supported with the
                                        installation of additional database drivers.
                                        <p class="mt-4 mb-4">
                                            <mat-accordion>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>MongoDB (recommended)</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>For instructions on installing MongoDB onto your local server,
                                                        see
                                                        <a href="https://docs.mongodb.com/manual/installation/"
                                                            target="_blank">
                                                            Install MongoDB — MongoDB Manual
                                                            <i class="fa fa-external-link" aria-hidden="true"></i></a>.
                                                    </p>
                                                    <p>To setup a MongoDB in the cloud, see the
                                                        <a href="https://www.mongodb.com/cloud/atlas" target="_blank">
                                                            MongoDB Atlas
                                                            <i class="fa fa-external-link"
                                                                aria-hidden="true"></i></a>cloud service.
                                                    </p>
                                                    <p>Example connection strings:</p>
                                                    <table>
                                                        <tr>
                                                            <td class="pl-4">Local server:</td>
                                                            <td class="pl-4"><code>mongodb://localhost:27017/unified-red</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">MongoDB Atlas:</td>
                                                            <td class="pl-4" style="word-break: break-all;">
                                                                <code>mongodb+srv://kay:myRealPassword@cluster0.mongodb.net/?serverSelectionTryOnce=false&serverSelectionTimeoutMS=15000&w=majority</code>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>SQLite and others</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>SQLite is often included in Linux and embedded servers, however
                                                        to download SQLite, see the
                                                        <a href="https://www.sqlite.org/download.html" target="_blank">
                                                            SQLite Download Page
                                                            <i class="fa fa-external-link" aria-hidden="true"></i></a>.
                                                    </p>
                                                    <p>Example connection strings:</p>
                                                    <table>
                                                        <tr>
                                                            <td class="pl-4">Relative path</td>
                                                            <td class="pl-4"><code>sqlite:node_modules/unified-red/unified-red.db</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">Absolute path</td>
                                                            <td class="pl-4"><code>sqlite:/media/sdcard/data/unified-red/unified-red.db</code></td>
                                                        </tr>
                                                    </table>
                                                    <p class="mt-4">
                                                        To connect to a Postgres, MySQL, MariaDB, or Microsoft SQL
                                                        Server database, use NPM to install the respective database driver.</p>
                                                    <table>
                                                        <tr>
                                                            <td class="pl-4">Postgres:</td>
                                                            <td class="pl-4"><code>npm install --save pg pg-hstore</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">MySQL</td>
                                                            <td class="pl-4"><code>npm install --save mysql2</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">MariaDB:</td>
                                                            <td class="pl-4"><code>npm install --save mariadb</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">Microsoft SQL Server:</td>
                                                            <td class="pl-4"><code>npm install --save tedious</code></td>
                                                        </tr>
                                                    </table>
                                                    <p class="mt-3">Example connection strings:</p>
                                                    <table>
                                                        <tr>
                                                            <td class="pl-4">Postgres:</td>
                                                            <td class="pl-4"><code>postgres://user:pass@&lt;hostname&gt;:5432/unified-red</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">MySQL:</td>
                                                            <td class="pl-4"><code>mysql://user:pass@&lt;hostname&gt;:3306/unified-red</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">MariaDB:</td>
                                                            <td class="pl-4"><code>mariadb://user:pass@&lt;hostname&gt;:3306/unified-red</code></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="pl-4">Microsoft SQL Server:</td>
                                                            <td class="pl-4"><code>mssql://user:pass@&lt;hostname&gt;:1433/unified-red</code></td>
                                                        </tr>
                                                    </table>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </p>
                                    </div>
                                    <div>
                                        <button mat-button (click)="testDb()">
                                            Test<mat-progress-bar mode="buffer" *ngIf="dbProgress"></mat-progress-bar>
                                        </button>
                                        <button mat-raised-button matStepperNext color="primary"
                                            [disabled]="!dbConnectionOk">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="jwtForm">
                                <form [formGroup]="jwtForm">
                                    <ng-template matStepLabel>Generate a JWT Secret</ng-template>
                                    <div class="mb-4">
                                        JSON Web Token (JWT) is an open standard (RFC 7519) used to secure user logins
                                        in Unified-RED and Node-RED. A unique secret key is required to digitally sign 
                                        information and has been automatically generated for you.
                                        Click on the generate button if you'd like to generate a new key.
                                    </div>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>JWT Secret</mat-label>
                                        <input matInput formControlName="jwtsecret" required>
                                        <mat-error *ngIf="jwtForm.get('jwtsecret').hasError('required')">
                                            A secret is required
                                        </mat-error>
                                    </mat-form-field>
                                    <div>
                                        <!-- <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button> -->
                                        <button mat-button (click)="newJwtSecret()">Generate</button>
                                        <button mat-raised-button matStepperNext color="primary">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="smtpForm">
                                <form [formGroup]="smtpForm">
                                    <ng-template matStepLabel>Setup SMTP Server</ng-template>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Server Hostname</mat-label>
                                                <input matInput formControlName="host" required>
                                                <mat-error *ngIf="smtpForm.get('host').hasError('required')">
                                                    A server hostname is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Server Port</mat-label>
                                                <input matInput formControlName="port" required>
                                                <mat-error *ngIf="smtpForm.get('port').hasError('required')">
                                                    A server port is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Requires SSL</mat-label>
                                                <select matNativeControl formControlName="ssl" required>
                                                    <option value="false">No</option>
                                                    <option value="true">Yes</option>
                                                </select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>From Name</mat-label>
                                                <input matInput formControlName="fromName" required>
                                                <mat-error *ngIf="smtpForm.get('fromName').hasError('required')">
                                                    A from name is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>From Address</mat-label>
                                                <input matInput formControlName="fromAddress" required>
                                                <mat-error *ngIf="smtpForm.get('fromAddress').hasError('required')">
                                                    A from address is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Username</mat-label>
                                                <input matInput formControlName="user">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline"
                                                style="padding-bottom: 10px;">
                                                <mat-label>Password</mat-label>
                                                <input matInput formControlName="password" type="password">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button> -->
                                        <button mat-button (click)="testSmtp()">
                                            Test<mat-progress-bar mode="buffer" *ngIf="smtpProgress"></mat-progress-bar>
                                        </button>
                                        <button mat-raised-button matStepperNext color="primary"
                                            [disabled]="!smtpServerOk">Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="nrForm">
                                <form [formGroup]="nrForm">
                                    <ng-template matStepLabel>Node-RED Overrides (Advanced)</ng-template>
                                    <div class="mb-4">
                                        The following hooks are used to integrate Unified-RED with Node-RED and under
                                        normal circumstances should be left blank. However, if needed, you can override 
                                        hook settings here.
                                    </div>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Authentication Handler (blank by default)</mat-label>
                                        <input matInput formControlName="adminAuthPath">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Static Folder Path (blank by default)</mat-label>
                                        <input matInput formControlName="staticPath">
                                    </mat-form-field>
                                    <div>
                                        <!-- <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button> -->
                                        <button mat-raised-button matStepperNext color="primary">Next</button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Done</ng-template>
                                <p>
                                    You are now done. Click install to commit your settings.<br>
                                    <br>
                                    <span class="font-weight-bold">
                                        Important Notes: <br>
                                        <ul>
                                            <li class="pt-2">Installation will cause Node-RED to be shutdown and must be
                                                manually restarted.</li>
                                            <li class="pt-2 pb-2">After restart, Unified-RED will be accessible from <a
                                                    [href]="urURL">{{ urURL }}</a><br>
                                                and Node-RED will be acccessible from <a [href]="nrURL">{{ nrURL }}</a>
                                            </li>
                                        </ul>
                                    </span>
                                </p>
                                <div>
                                    <!-- <button mat-raised-button matStepperPrevious color="warn" class="mr-2">Back</button> -->
                                    <button mat-raised-button color="primary" (click)="openConfirmationDialog()">Install</button>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>