<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Simple Modal Dialog </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <h6>Simple Dialog With Action Button</h6>
                        <br>
                        <button mat-raised-button color="primary" (click)="dialog()">Click Me To Open Dialog</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Dialog With Form</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div>
                            <h6>Dialog with Form Example</h6>
                            <br>
                            <button mat-raised-button color="primary" (click)="openDialog()">Click Here</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Bootstrap Modal</strong>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix js-sweetalert">
                            <!-- #START# Basic Modal -->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Basic Modal Demo</p>
                                <button mat-raised-button type="button" data-toggle="modal" color="primary"
                                    data-target="#basicModal">Basic
                                    Modal</button>
                                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Content goes here..
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect">Save</button>
                                                <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #END# Basic Modal -->
                            <!-- #START# Modal Form Example -->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Modal With Form</p>
                                <button mat-raised-button type="button" data-toggle="modal" color="primary"
                                    data-target="#exampleModal">Modal
                                    With Form</button>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="formModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="formModal">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="addCusForm">
                                                    <div class="text-inside">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="First Name" value={{fname}}
                                                                formControlName="firstname" required>
                                                            <mat-error
                                                                *ngIf="addCusForm.controls.firstname.hasError('required')">
                                                                Please enter first name
                                                            </mat-error>
                                                            <mat-error
                                                                *ngIf="addCusForm.controls.firstname.hasError('pattern')">
                                                                Please enter valid first name
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="text-inside">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Last Name" value={{lname}}
                                                                formControlName="lastname" required>
                                                            <mat-error
                                                                *ngIf="addCusForm.controls.lastname.hasError('required')">
                                                                Please enter last name
                                                            </mat-error>
                                                            <mat-error
                                                                *ngIf="addCusForm.controls.lastname.hasError('pattern')">
                                                                Please enter valid last name
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="text-inside">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Email address"
                                                                formControlName="email" required>
                                                            <mat-error
                                                                *ngIf="addCusForm.controls.email.hasError('required')">
                                                                Please enter email id
                                                            </mat-error>
                                                            <mat-error
                                                                *ngIf="addCusForm.controls.email.hasError('email')">
                                                                Please enter valid email id
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="text-inside">
                                                        <mat-form-field class="example-full-width">
                                                            <textarea matInput placeholder="Address"></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button mat-raised-button type="button" color="primary">Save</button>
                                                <button mat-button type="button" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #END# Modal Form Example -->
                            <!-- #START# Modal Vertically Centered -->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Vertically Centered</p>
                                <button mat-raised-button type="button" data-toggle="modal" color="primary"
                                    data-target="#exampleModalCenter">Vertically
                                    Centered</button>
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect">Save</button>
                                                <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #END# Modal Vertically Centered -->
                            <!-- #START# Large Modal-->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Large Modal</p>
                                <button mat-raised-button type="button" data-toggle="modal" color="primary"
                                    data-target=".bd-example-modal-lg">Large
                                    Modal</button>
                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myLargeModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Content goes here....
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #END# Large Modal-->
                            <!-- #START# Small Modal -->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Small Modal</p>
                                <button mat-raised-button type="button" data-toggle="modal" color="primary"
                                    data-target=".bd-example-modal-sm">Small
                                    Modal</button>
                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                                    aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="mySmallModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Content goes here....
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #END# Small Modal -->
                            <!-- #START# Modal Using Grid-->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Modal Using Grid</p>
                                <button mat-raised-button type="button" data-toggle="modal" color="primary"
                                    data-target="#gridModal">Modal
                                    Using Grid</button>
                                <div class="modal fade" id="gridModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalGrid" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalGrid">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4">.col-md-4</div>
                                                        <div class="col-md-4 ml-auto">.col-md-4 .ml-auto</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
                                                        <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-9">
                                                            Level 1: .col-sm-9
                                                            <div class="row">
                                                                <div class="col-8 col-sm-6">
                                                                    Level 2: .col-8 .col-sm-6
                                                                </div>
                                                                <div class="col-4 col-sm-6">
                                                                    Level 2: .col-4 .col-sm-6
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect">Save</button>
                                                <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #END# Modal Using Grid -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>