<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="info-box7 l-bg-green order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Node-RED Text1</h4>
                        <h2 class="text-right">
                            <i class="far fa-clock pull-left"></i><span>{{ text1.value }}</span>
                        </h2>
                        <p class="m-b-0">Incoming timestamp from TextNode ID: {{ text1.id }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="info-box7 l-bg-purple order-info-box7">
                    <div class="info-box7-block">
                        <h4 class="m-b-20">Node-RED Text2</h4>
                        <h2 class="text-right">
                            <i class="fas fa-random pull-left"></i><span>{{ text2.value }}</span>
                        </h2>
                        <p class="m-b-0">Incoming random numbers from TextNode ID: {{ text2.id }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
