<div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)">
        <!-- Menu -->
        <div class="menu">
            <ul
                class="list"
                [ngStyle]="{
                    'position': 'relative',
                    'max-height': listMaxHeight + 'px',
                    'max-width': listMaxWidth + 'px'
                }"
                
            >
                @for (sidebarItem of sidebarItems; track sidebarItem.title) {
                    <li
                        [class.active]="showMenu === sidebarItem.title"
                        [routerLinkActive]="sidebarItem.submenu.length != 0 ? '' : 'active'"
                    >
                        @if (
                            sidebarItem.accessBehavior === 'hide'
                                ? hasAccess(sidebarItem.access) && !sidebarItem.hidden
                                : !sidebarItem.hidden
                        ) {
                            @if (sidebarItem.groupTitle === true) {
                                <div class="header">{{ sidebarItem.title }}</div>
                            }
                            @if (!sidebarItem.groupTitle && !sidebarItem.link) {
                                <a
                                    [routerLink]="sidebarItem.class === '' ? [sidebarItem.path] : null"
                                    [ngClass]="[
                                        sidebarItem.class,
                                        sidebarItem.disabled ||
                                        (sidebarItem.accessBehavior === 'disable' && !hasAccess(sidebarItem.access))
                                            ? 'disabled'
                                            : ''
                                    ]"
                                    (click)="
                                        sidebarItem.disabled ||
                                        (sidebarItem.accessBehavior === 'disable' && !hasAccess(sidebarItem.access))
                                            ? ''
                                            : callMenuToggle($event, sidebarItem.title)
                                    "
                                >
                                    <i [ngClass]="[sidebarItem.icon]"></i>
                                    <span class="hide-menu">{{ sidebarItem.title }} </span>
                                </a>
                            }

                            @if (sidebarItem.link) {
                                <div>
                                    <a
                                        [href]="sidebarItem.link"
                                        target="{{ sidebarItem.target === 'thistab' ? '_self' : '_blank' }}"
                                        [ngClass]="
                                            sidebarItem.disabled ||
                                            (sidebarItem.accessBehavior === 'disable' && !hasAccess(sidebarItem.access))
                                                ? 'disabled'
                                                : ''
                                        "
                                    >
                                        <i [ngClass]="[sidebarItem.icon]"></i>
                                        <span class="hide-menu">{{ sidebarItem.title }} </span>
                                    </a>
                                </div>
                            }

                            <app-menu-entity [sidebarItems]="sidebarItem.submenu"></app-menu-entity>
                        }
                    </li>
                }
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</div>
