<div>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)">
        <!-- Menu -->
        <div class="menu">
            <ul
                class="list"
                [ngStyle]="{
                    'position': 'relative',
                    'max-height': listMaxHeight + 'px',
                    'max-width': listMaxWidth + 'px'
                }"
                [perfectScrollbar]
            >
                <!-- First level menu -->
                <li
                    [class.active]="showMenu === sidebarItem.title"
                    *ngFor="let sidebarItem of sidebarItems"
                    [routerLinkActive]="sidebarItem.submenu.length != 0 ? '' : 'active'"
                >
                    <div class="header" *ngIf="sidebarItem.groupTitle === true">
                        {{ sidebarItem.title }}
                    </div>
                    <a
                        [routerLink]="sidebarItem.class === '' ? [sidebarItem.path] : null"
                        *ngIf="!sidebarItem.groupTitle && !sidebarItem.link"
                        [ngClass]="[sidebarItem.class]"
                        (click)="callMenuToggle($event, sidebarItem.title)"
                    >
                        <i [ngClass]="[sidebarItem.icon]"></i>
                        <span class="hide-menu">{{ sidebarItem.title }} </span>
                    </a>

                    <div *ngIf="sidebarItem.link">
                        <a
                            [href]="sidebarItem.link"
                            target="{{ sidebarItem.target === 'thistab' ? '_self' : '_blank' }}"
                        >
                            <i [ngClass]="[sidebarItem.icon]"></i>
                            <span class="hide-menu">{{ sidebarItem.title }} </span>
                        </a>
                    </div>

                    <app-menu-entity [sidebarItems]="sidebarItem.submenu"></app-menu-entity>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->
</div>
