.ur-gauge-container
    position: relative

.ur-dial-overlay
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    pointer-events: none
    z-index: 1
    line-height: 1.2

.ur-dial-value
    display: block
    color: #888

.ur-dial-units
    display: block
    font-size: 1rem
    color: #888
