<div #container [id]="data.id">
    @if (access.view || data.accessBehavior !== 'hide') {
        @if (data.label) {
            <div class="p-b-10 p-l-10 font-17">{{ data.label }}</div>
        }
        @if (data.legend) {
            <div class="ur-gauge-legend">
                <ngx-charts-legend class="chart-legend"
                    [data]="legendNames" 
                    [colors]="legendColors"
                    [horizontal]="true">
                </ngx-charts-legend>
            </div>
        }
        @if (data.gtype !== 'level-vert' && data.gtype !== 'level-horz' && data.gtype !== 'liquid') {
            <div class="ur-gauge-container" [ngStyle]="{ 'height.px': 34 * data.height }">
                <ngx-charts-gauge class="ur-gauge-dial"
                    [view]="dialGaugeOpt.view"
                    [scheme]="dialGaugeOpt.colorScheme"
                    [results]="dialGaugeResults"
                    [legend]="false" 
                    [animations]="dialGaugeOpt.animation"
                    [bigSegments]="data.bigseg || 10"
                    [smallSegments]="data.smallseg || 5"
                    [startAngle]="dialGaugeOpt.startAngle"
                    [angleSpan]="dialGaugeOpt.angleSpan"
                    [min]="data.min"
                    [max]="data.max"
                    [showAxis]="!!data.showAxis"
                    [showText]="dialGaugeResults?.length === 1"
                    [units]="data.units">
                </ngx-charts-gauge>
            </div>
        }

        @if (data.gtype === 'level-vert') {
            <div class="ur-gauge-container" [ngStyle]="{ 'height.px': 34 * data.height }">
                @for (topic of data.topics; track topic) {
                    <svg #levelGauge class="ur-gauge-level ur-gauge-level-vert"
                        attr.width="{{ (100 - data.topics.length / 2) / data.topics.length }}%"
                        height="100%" style="margin-right:0.5%;"></svg>
                }
            </div>
        }

        @if (data.gtype === 'level-horz') {
            <div class="ur-gauge-container" [ngStyle]="{ 'height.px': 34 * data.height }">
                @for (topic of data.topics; track topic) {
                    <svg #levelGauge class="ur-gauge-level ur-gauge-level-horz"
                        attr.height="{{ (100 - data.topics.length / 2) / data.topics.length }}%"
                        width="100%" style="margin-bottom:0.5%;"></svg>
                }
            </div>
        }

        @if (data.gtype === 'liquid') {
            <div class="ur-gauge-container" [ngStyle]="{ 'height.px': 34 * data.height }">
                @for (topic of data.topics; track topic) {
                    <svg #liquidGauge class="ur-gauge-liquid"></svg>
                }
            </div>
        }
    }
</div>
