<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-title pb-5">Login</span>
                <div *ngIf="registeredUser" class="alert alert-success">
                    <strong>Success!</strong> Your new user account is set up. Please login!
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" />
                            <mat-icon matSuffix>face</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password">
                            <mat-icon matSuffix>vpn_key</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex-sb-m w-full p-t-15 p-b-20">
                    <div><a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a></div>
                    <div><a class="txt1" routerLink="/authentication/register">Register</a></div>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">Login</button>
                </div>
            </form>
            <div class="login100-more" style="background-image: url('assets/images/pages/bg-01.png');"></div>
        </div>
    </div>
</div>