                    <div class="limiter">
                        <div class="container-login100">
                            <div class="wrap-login100">
                                <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <span class="login100-form-title pb-5">Login</span>
                                    <div class="row">
                                        <div class="col-xl-12col-lg-12col-md-12 col-sm-12 mb-2">
											<!--<mat-form-field class="example-full-width" appearance="outline">-->
													
													<select #selectedLang (change)="switchLanguage(selectedLang.value)">
                                                        <option *ngFor="let language of translate.getLangs()" 
                                                        [value]="language" 
                                                        [selected]="language === translate.currentLang"> {{ language }} 
                                                        </option> 
                                                    </select>
													<mat-icon matSuffix>language</mat-icon>
                                            <!--</mat-form-field>-->
										</div>
									</div>	
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{'Username'|translate}}</mat-label>
                                                <input matInput formControlName="username" />
                                                <mat-icon matSuffix>face</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>Password</mat-label>
                                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="flex-sb-m w-full p-t-15 p-b-20">
                                        <div><a class="txt1" routerLink="/authentication/forgot-password">{{'Forgot Password?'|translate}}</a></div>
                                        <div><a class="txt1" routerLink="/authentication/register">{{'Register'|translate}}</a></div>
                                    </div>
                                    <div class="container-login100-form-btn">
                                        <button class="login100-form-btn" type="submit">Login</button>
                                    </div>
                                </form>
                                <div class="login100-more" style="background-image: url('assets/images/pages/unified-logo.png');"></div>
                            </div>
                        </div>
                    </div>

