<div class="card">
    @if (this.disabled) {
        <div class="overlay overlay-card"></div>
    }
    @if (displayHeader) {
        <div class="header" style="padding-bottom: 0">
            <h2>{{ header }}</h2>
        </div>
    }
    <div class="body">
        <div [class.row]="tabs.length === 1">
            <ng-container>
                @if (!this.disabled && tabs.length === 1 && tabs[0].disabled) {
                    <div class="overlay overlay-card"></div>
                }
                <ng-template group-host></ng-template>
            </ng-container>
            @if (tabs.length > 1) {
                <div style="float: right">
                    <ul class="header-dropdown m-r--5" style="width: 5px; margin-left: -7px; margin-top: 20px">
                        <li class="dropdown">
                            <a
                                href="#"
                                onClick="return false;"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <mat-icon color="primary">more_vert</mat-icon>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                @for (tab of tabs; track $index) {
                                    <li style="display: inline;">
                                        <a style="cursor: pointer" (click)="changeTab($index)">{{ tab.header }}</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            @if (tabs.length > 1) {
                <mat-tab-group [selectedIndex]="selectedTab">
                    @for (tab of tabs; track tab.header) {
                        <mat-tab [label]="tab.header">
                            <ng-template matTabContent>
                                @if (tab.disabled && !this.disabled) {
                                    <div class="overlay"></div>
                                }
                                @if (!tab.hidden) {
                                    <app-tab [widgets]="tab.widgets"></app-tab>
                                }
                            </ng-template>
                        </mat-tab>
                    }
                </mat-tab-group>
            }
        </div>
    </div>
</div>
