<!-- <section class="content">
    <div class="container-fluid">
        <div class="row col-6">
            <h1>{{ header }}</h1>
            <ng-template group-host></ng-template>
        </div>
    </div>
</section> -->

<div class="card">
    <div class="header">
        <h2>{{ header }}</h2>
        <ul class="header-dropdown m-r--5">
            <li class="dropdown">
                <a
                    href="#"
                    onClick="return false;"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" onClick="return false;">Action</a>
                    </li>
                    <li>
                        <a href="#" onClick="return false;">Another action</a>
                    </li>
                    <li>
                        <a href="#" onClick="return false;">Something else here</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="row">
            <ng-template group-host></ng-template>
        </div>
    </div>
</div>
