app-ur-form {
    .mat-checkbox-layout {
        white-space: normal
    }
    .mat-slide-toggle-label {
        white-space: normal
    }
}

app-ur-form:not(:last-child) {
    padding-bottom:30px;
}

.health-down .mat-form-field-outline, 
.health-down .mat-form-field-outline.mat-form-field-outline-thick {
    background-image: repeating-linear-gradient(45deg, #0000, #0000 3px, #ffd00070 3px, #ffd00070 6px);
    border: 1px solid  #ffd000 !important;
    background-blend-mode: overlay !important;
}

app-ur-table {
    a {
        white-space: nowrap;
    }
}

app-ur-button {
    margin-bottom: 13px;
}

.mat-tab-body-content {
    overflow-x: hidden !important;
}

.success {
  background-color: #00c853;
    * {
        color: #ffffff;
    }
}

.info {
  background-color: #2ca8ff;
  * {
      color: #ffffff;
  }
}

.warning {
  background-color: #ffc107;
    * {
        color: #333333;
    }
}

.danger {
  background-color: #f44336;
  * {
      color: #ffffff;
  }
}

.disabled {
  background-color: #9E9E9E;
  * {
    color: #616161;
  }
}