app-ur-form {
    .mat-checkbox-layout {
        white-space: normal
    }
    .mat-slide-toggle-label {
        white-space: normal
    }
}

app-ur-form:not(:last-child) {
    padding-bottom:30px;
}

.health-down:not(.mat-form-field), .health-down .mat-form-field-flex {
    background-image: repeating-linear-gradient(45deg, #0000, #0000 3px, #ffd00070 3px, #ffd00070 6px);
    border: 1px solid  #ffd000 !important;
}