<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Examples</strong>
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix js-sweetalert">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>A basic message</p>
                                <button mat-raised-button color="primary" (click)="showBasicMessage()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>A title with a text under</p>
                                <button mat-raised-button color="primary" (click)="showWithTitleMessage()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>A modal with a title, an error icon, a text, and a footer</p>
                                <button mat-raised-button color="primary" (click)="showTitleErorIcon()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>A modal window with a long content inside:</p>
                                <button mat-raised-button color="primary" (click)="showLongContent()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Custom HTML description and buttons with ARIA labels</p>
                                <button mat-raised-button color="primary" (click)="showCustomHtml()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>A custom positioned dialog</p>
                                <button mat-raised-button color="primary" (click)="showCustomPosition()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Custom animation</p>
                                <button mat-raised-button color="primary" (click)="customAnimation()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>A confirm dialog, with a function attached to the "Confirm"-button...</p>
                                <button mat-raised-button color="primary" (click)="customWithFunction()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>passing a parameter, you can execute something else for "Cancel".</p>
                                <button mat-raised-button color="primary" (click)="passParameter()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Right-to-left support for Arabic, Persian, Hebrew, and other RTL languages</p>
                                <button mat-raised-button color="primary" (click)="rtlSupport()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>Chaining modals (queue) example</p>
                                <button mat-raised-button color="primary" (click)="chainModal()">CLICK
                                    ME</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>AJAX request example</p>
                                <button mat-raised-button color="primary" (click)="ajaxRequest()">CLICK
                                    ME</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>