<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>trending_up</mat-icon>
        </ng-template>
        <div class="pt-4" style="min-height:300px;">
            <ngx-charts-line-chart 
                [view]="" 
                [scheme]="chartOpt.colorScheme" 
                [legend]="true" 
                legendPosition="right" 
                [animations]="false"
                [xAxis]="true" 
                [yAxis]="true"
                [showRefLines]="true"
                [timeline]="true"
                [showXAxisLabel]="chartOpt.showXAxisLabel"
                [showYAxisLabel]="chartOpt.showYAxisLabel" 
                [xAxisLabel]="chartOpt.xAxisLabel"
                [yAxisLabel]="chartOpt.yAxisLabel" 
                [xScaleMin]="chartOpt.xScaleMin" 
                [xScaleMax]="chartOpt.xScaleMax" 
                [yScaleMin]="chartOpt.yScaleMin"
                [yScaleMax]="chartOpt.yScaleMax"
                [autoScale]="chartOpt.autoScale"
                [results]="graphedResults"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-line-chart>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
        </ng-template>
        <div class="pt-4">
            <mat-form-field class="mr-3" appearance="outline">
                <mat-label>Range</mat-label>
                <input matInput type="number" (change)="startTimeValue($event.target.value)" [value]="config.xrange" />
            </mat-form-field>
            <mat-form-field class="mr-3" appearance="outline">
                <mat-label>Units</mat-label>
                <select matNativeControl [ngModel]="selectedUnit" (change)="startTimeUnits($event.target.value)">
                    <option *ngFor="let unit of units" [value]="unit.value">{{ unit.viewValue }}</option>
                </select>
            </mat-form-field>
            <mat-checkbox [checked]="config.live" (change)="graphChart($event.checked)">Live Chart</mat-checkbox>
        </div>        
    </mat-tab>
</mat-tab-group>