.mat-column-actions
    text-align: center
    vertical-align: middle

.series-color form
    display: flex
    flex-wrap: wrap
    gap: 6px

.series-color input[type='color']
    border: none
    padding: 0
    cursor: pointer
    &::-webkit-color-swatch-wrapper
        padding: 0
    &::-webkit-color-swatch
        border: none
