<section class="content">
    <div class="container-fluid">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Basic</strong> Validation</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form class="register-form m-4" [formGroup]="register" (ngSubmit)="onRegister()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>First name</mat-label>
                                        <input matInput formControlName="first" required>
                                        <mat-icon matSuffix>face</mat-icon>
                                        <mat-error *ngIf="register.get('first').hasError('required')">
                                            First name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Last name</mat-label>
                                        <input matInput formControlName="last">
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                                            required>
                                        <mat-icon matSuffix (click)="hide = !hide">
                                            {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        <mat-error *ngIf="register.get('password').hasError('required')">
                                            Password is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" required>
                                        <mat-icon matSuffix>email</mat-icon>
                                        <mat-error
                                            *ngIf="register.get('email').hasError('required') || register.get('email').touched">
                                            Please enter a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput formControlName="address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>City</mat-label>
                                        <input matInput formControlName="city" required>
                                        <mat-icon matSuffix>location_city</mat-icon>
                                        <mat-error *ngIf="register.get('city').hasError('required')">
                                            City name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>State</mat-label>
                                        <input matInput formControlName="state">
                                        <mat-icon matSuffix>business</mat-icon>
                                        <mat-error *ngIf="register.get('state').hasError('required')">
                                            State name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Country</mat-label>
                                        <mat-select formControlName="country" required>
                                            <mat-option [value]="'India'">
                                                India
                                            </mat-option>
                                            <mat-option [value]="'Algeria'">
                                                Algeria
                                            </mat-option>
                                            <mat-option [value]="'Brazil'">
                                                Brazil
                                            </mat-option>
                                            <mat-option [value]="'Poland'">
                                                Poland
                                            </mat-option>
                                            <mat-option [value]="'Sri Lanka'">
                                                Sri Lanka
                                            </mat-option>
                                            <mat-option [value]="'Thailand'">
                                                Thailand
                                            </mat-option>
                                            <mat-option [value]="'Japan'">
                                                Japan
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>flag</mat-icon>
                                        <mat-error *ngIf="register.get('country').hasError('required')">
                                            Country is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-checkbox class="example-margin" [(ngModel)]="agree"
                                        formControlName="termcondition">I accept terms
                                        and conditions
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="mr-3" mat-raised-button color="primary">Submit</button>
                                    <button type="button" mat-button>Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Validation -->
        <!-- #START# ngx-custom-validators  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>ngx-custom-validators</strong> Examples</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" onClick="return false;">Action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="return false;">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="advance-validation">
                            <form class="form-horizontal" [formGroup]="customForm">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Require</mat-label>
                                                    <input matInput formControlName="fieldReq" placeholder="required"
                                                        required>
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.fieldReq.errors?.required"
                                                    class="error-msg">
                                                    required error
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Range Between 5 to 9</mat-label>
                                                    <input matInput type="number" formControlName="range"
                                                        placeholder="Enter between 5 to 9">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.range.errors?.range"
                                                    class="error-msg">
                                                    Enter between 5 to 9
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Min Value 10</mat-label>
                                                    <input matInput type="number" formControlName="min"
                                                        placeholder="Enter min value 10">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.min.errors?.min"
                                                    class="error-msg">
                                                    Enter minumum value 10
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Max Value 10</mat-label>
                                                    <input matInput type="number" formControlName="max"
                                                        placeholder="Enter max value 10">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.max.errors?.max"
                                                    class="error-msg">
                                                    Enter maximum value 10
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Greater than</mat-label>
                                                    <input matInput type="number" formControlName="gt"
                                                        placeholder="Enter greater than 10">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.gt.errors?.gt" class="error-msg">
                                                    Enter greater than 10
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Less than </mat-label>
                                                    <input matInput type="number" formControlName="lt"
                                                        placeholder=" Enter less than 10">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.lt.errors?.lt" class="error-msg">
                                                    Enter less than 10
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Range Length </mat-label>
                                                    <input matInput formControlName="rangeLength"
                                                        placeholder=" Enter length betwwn 5 to 9">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.rangeLength.errors?.rangeLength"
                                                    class="error-msg">
                                                    Enter length betwwn 5 to 9
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>URL </mat-label>
                                                    <input matInput formControlName="url" placeholder="Enter Url">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.url.errors?.url"
                                                    class="error-msg">
                                                    Enter valid url
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Email </mat-label>
                                                    <input matInput formControlName="email" placeholder="Enter email">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.email.errors?.email"
                                                    class="error-msg">
                                                    Enter valid email
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Date </mat-label>
                                                    <input matInput formControlName="date" placeholder="Ex- 10-02-2020">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.date.errors?.date"
                                                    class="error-msg">
                                                    Enter valid date
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Min Date</mat-label>
                                                    <input matInput formControlName="minDate"
                                                        placeholder="Min- 2016-09-09">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.minDate.errors?.minDate"
                                                    class="error-msg">
                                                    Enter minimum date 2016-09-09
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Max Date</mat-label>
                                                    <input matInput formControlName="maxDate"
                                                        placeholder="Max- 2020-09-09">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.maxDate.errors?.maxDate"
                                                    class="error-msg">
                                                    Enter maximum date 2020-09-09
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Credit card</mat-label>
                                                        <input matInput type="number" formControlName="creditCard"
                                                            placeholder="Enter Credit Card Number">
                                                    </mat-form-field>
                                                    <mat-error *ngIf="customForm.controls.creditCard.errors?.creditCard"
                                                        class="error-msg">
                                                        Enter Valid Credit Card Number
                                                    </mat-error>
                                                </div>
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Json</mat-label>
                                                        <input matInput formControlName="json" placeholder="Enter json">
                                                    </mat-form-field>
                                                    <mat-error *ngIf="customForm.controls.json.errors?.json"
                                                        class="error-msg">
                                                        Enter valid json
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>base64</mat-label>
                                                        <input matInput formControlName="base64"
                                                            placeholder="Enter base64">
                                                    </mat-form-field>
                                                    <mat-error *ngIf="customForm.controls.base64.errors?.base64"
                                                        class="error-msg">
                                                        Enter valid base64
                                                    </mat-error>
                                                </div>
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>uuid</mat-label>
                                                        <input matInput formControlName="uuid" placeholder="Enter uuid">
                                                    </mat-form-field>
                                                    <mat-error *ngIf="customForm.controls.uuid.errors?.uuid"
                                                        class="error-msg">
                                                        Enter valid uuid
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Equal</mat-label>
                                                    <input matInput formControlName="equal" placeholder="Enter abc">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.equal.errors?.equal"
                                                    class="error-msg">
                                                    Enter abc
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                        <div class="form-group">
                                            <div class="col-xs-9">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Not Equal </mat-label>
                                                    <input matInput formControlName="notEqual"
                                                        placeholder="Enter not equal to abc">
                                                </mat-form-field>
                                                <mat-error *ngIf="customForm.controls.notEqual.errors?.notEqual"
                                                    class="error-msg">
                                                    Enter not equal to abc
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                        <h6>Password Equal Validation</h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Enter password </mat-label>
                                                        <input matInput formControlName="password"
                                                            placeholder="Enter password">
                                                    </mat-form-field>
                                                    <mat-error *ngIf="customForm.controls.password.errors?.required"
                                                        class="error-msg">
                                                        required error
                                                    </mat-error>
                                                </div>
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Re-enter password </mat-label>
                                                        <input matInput formControlName="certainPassword"
                                                            placeholder="Enter password again">
                                                    </mat-form-field>
                                                    <mat-error
                                                        *ngIf="customForm.controls.certainPassword.errors?.equalTo"
                                                        class="error-msg">
                                                        equalTo error
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                        <h6>Password Not Equal Validation</h6>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Enter password </mat-label>
                                                        <input matInput formControlName="password1"
                                                            placeholder="Enter password">
                                                    </mat-form-field>
                                                    <mat-error *ngIf="customForm.controls.password1.errors?.required"
                                                        class="error-msg">
                                                        required error
                                                    </mat-error>
                                                </div>
                                                <div class="col-lg-6">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Re-enter password </mat-label>
                                                        <input matInput formControlName="certainPassword1"
                                                            placeholder="Enter password again">
                                                    </mat-form-field>
                                                    <mat-error
                                                        *ngIf="customForm.controls.certainPassword1.errors?.notEqualTo"
                                                        class="error-msg">
                                                        equalTo error
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# ngx-custom-validators   -->
    </div>
</section>