<section class="content">
  <div class="container-fluid">
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-green order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Node-RED Text</h4>
            <h2 class="text-right"><i class="fas fa-cart-plus pull-left"></i><span>{{ui_text}}</span></h2>
            <p class="m-b-0">Incoming timestamp through Socket.IO</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-purple order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Delivered</h4>
            <h2 class="text-right"><i class="fas fa-business-time pull-left"></i><span>865</span></h2>
            <p class="m-b-0">21% Higher Then Last Month</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-orange order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">New Orders</h4>
            <h2 class="text-right"><i class="fas fa-chart-line pull-left"></i><span>128</span></h2>
            <p class="m-b-0">37% Higher Then Last Month</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-cyan order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Earning</h4>
            <h2 class="text-right"><i class="fas fa-dollar-sign pull-left"></i><span>$25698</span></h2>
            <p class="m-b-0">10% Higher Then Last Month</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Chart</strong> Sample</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <!-- <canvas baseChart [chartType]="'line'" [datasets]="areaChartData" [labels]="areaChartLabels"
              [options]="areaChartOptions" [legend]="true">
            </canvas> -->
            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Target</p>
                <h5>
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$15.3k
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Last
                  week</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$2.8k
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Last
                  Month</p>
                <h5>
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$12.5k
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Chart</strong> Sample</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">

            <!-- <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
              [chartType]="barChartType"></canvas> -->

            <div class="row">
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Target</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$15.3k
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted font-15 text-truncate">Last
                  week</p>
                <h5>
                  <i class="fas fa-arrow-circle-up col-green m-r-5"></i>$2.8k
                </h5>
              </div>
              <div class="col-4">
                <p class="text-muted text-truncate">Last
                  Month</p>
                <h5>
                  <i class="fas fa-arrow-circle-down col-red m-r-5"></i>$12.5k
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Chart</strong> Data</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div id="chart">
              <div id="chart">
                <!-- <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                  [stroke]="chartOptions.stroke" [colors]="chartOptions.colors" [dataLabels]="chartOptions.dataLabels"
                  [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
                  [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Chart</strong> Data</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div id="chart">
              <div id="chart">
                <!-- <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                  [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions"></apx-chart> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              <strong>New </strong>Projects</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div id="new-orders" class="media-list position-relative" style="position: relative; max-height: 500px;"
              [perfectScrollbar]>
              <div class="table-responsive">
                <table id="new-orders-table" class="table table-hover table-xl mb-0">
                  <thead>
                    <tr>
                      <th class="border-top-0">Product</th>
                      <th class="border-top-0">Employees</th>
                      <th class="border-top-0">Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-truncate">iPhone X</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user1.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user3.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+2</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$8999</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">Pixel 2</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user4.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user5.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user6.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+4</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$5550</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">OnePlus</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user7.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user8.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user9.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+3</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$9000</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">Galaxy</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user1.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user2.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+1</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$7500</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">Moto Z2</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user3.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user4.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user5.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+4</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$8500</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">iPhone X</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user6.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user7.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+2</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$8999</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">iPhone X</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user3.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user7.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user1.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+4</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$8999</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">Pixel 2</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user4.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user6.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+3</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$5550</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">OnePlus</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user7.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user8.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user9.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+3</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$9000</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">Samsung</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user3.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user6.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user1.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+2</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$4563</td>
                    </tr>
                    <tr>
                      <td class="text-truncate">Nokia</td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list">
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user9.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user2.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <img class="rounded-circle" src="assets/images/user/user5.jpg" alt="user">
                          </li>
                          <li class="avatar avatar-sm">
                            <span class="badge">+1</span>
                          </li>
                        </ul>
                      </td>
                      <td class="text-truncate">$8763</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Calendar</strong></h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="#" onClick="return false;">Action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Another action</a>
                  </li>
                  <li>
                    <a href="#" onClick="return false;">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="deskCal">
              <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                          left: 'title',
                          center: '',
                          right: 'prev,today,next'
                        }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents">
              </full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>